<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>74B5F3FA-DB32-4C68-908C-2267262CA74D</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>1</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Group 1</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>WFDictionaryFieldValueItems</key>
											<array>
												<dict>
													<key>WFItemType</key>
													<integer>0</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>Up</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>╭────────── ★  ─╮</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
												<dict>
													<key>WFItemType</key>
													<integer>0</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>Down</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>╰─  ★ ──────────╯</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
											</array>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFDictionaryFieldValue</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>1</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Group 2</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>WFDictionaryFieldValueItems</key>
											<array>
												<dict>
													<key>WFItemType</key>
													<integer>0</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>Up</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>❀° ┄───────────╮</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
												<dict>
													<key>WFItemType</key>
													<integer>0</integer>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>Down</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string> ╰───────────┄ °❀ </string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
											</array>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFDictionaryFieldValue</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C2E14CE9-D248-4426-8D0D-B6D0AF5EF431</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>Keys</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>74B5F3FA-DB32-4C68-908C-2267262CA74D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>2734515C-6DE2-4CDD-805B-D410CD8C91C8</string>
					<key>workflowName</key>
					<string>_Get List Item by Day of Week</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Get List Item by Day of Week</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C2BE1FF4-5D74-4942-AD51-AE83FB2F4D82</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>C2E14CE9-D248-4426-8D0D-B6D0AF5EF431</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>74B5F3FA-DB32-4C68-908C-2267262CA74D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>DD7CA799-4A91-476F-96B7-8B28E8ACBD30</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Up</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Dictionary Value</string>
								<key>OutputUUID</key>
								<string>C2BE1FF4-5D74-4942-AD51-AE83FB2F4D82</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>Down</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Dictionary Value</string>
								<key>OutputUUID</key>
								<string>C2BE1FF4-5D74-4942-AD51-AE83FB2F4D82</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼
￼
￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>DD7CA799-4A91-476F-96B7-8B28E8ACBD30</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4407</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ActionIndex</key>
			<integer>2</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>DefaultValue</key>
			<string></string>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Text</key>
			<string>What's your first name?</string>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFStringContentItem</string>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
