<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getipaddress</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EF50CBA6-B52C-458A-B4FD-ACB5168B746A</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>64ECF9BC-3FBB-4C95-8671-16332875BF3D</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Current IP Address</string>
							<key>OutputUUID</key>
							<string>EF50CBA6-B52C-458A-B4FD-ACB5168B746A</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>79890F68-46DC-4637-A896-3EE5EA15C084</string>
				<key>WFItems</key>
				<array>
					<string>👉 Floccus</string>
					<string>👉 Goodreads</string>
					<string>👉 Hacker News</string>
					<string>👉 Evergreen Lists</string>
					<string>👉 Brain Food Lists</string>
					<string>👉 Smarter Every Day</string>
					<string>👉 The Enoughist's Pick</string>
					<string>👉 Weekly Mindware Update</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>📚 What do you want to read?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>List</string>
						<key>OutputUUID</key>
						<string>79890F68-46DC-4637-A896-3EE5EA15C084</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>E06381D0-16B4-4941-8F68-A70E82D50505</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Floccus</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EDEBCAFE-DDD2-4FF4-B052-8A0CB720CEF0</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Selected Item</string>
						<key>OutputUUID</key>
						<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>07924E8B-DAE8-46FF-B5A3-14D3D5FDF42D</string>
					<key>workflowName</key>
					<string>Floccus</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Floccus</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>E06381D0-16B4-4941-8F68-A70E82D50505</string>
				<key>UUID</key>
				<string>B29A8571-3960-4170-874D-944E38115CD7</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>6BC9BB2F-6A56-4C57-A09D-7FE12905F8D2</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Goodreads</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>AC0652CA-D87A-4868-9635-77F33E170E6E</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>EB6BC5BA-F766-4AE0-BC52-32048212E551</string>
					<key>workflowName</key>
					<string>Goodreads</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Goodreads</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>6BC9BB2F-6A56-4C57-A09D-7FE12905F8D2</string>
				<key>UUID</key>
				<string>8552C6BF-59E2-49EC-A494-DD8F142E8C92</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C0663A45-705C-45FD-AE8D-F56AF6847292</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Hacker News</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>https://github.com/HackerNews/API</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openapp</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>AF36F2B8-F452-4167-A337-4556421306D8</string>
				<key>WFAppIdentifier</key>
				<string>com.weiranzhang.Hackers</string>
				<key>WFSelectedApp</key>
				<dict>
					<key>BundleIdentifier</key>
					<string>com.weiranzhang.Hackers</string>
					<key>Name</key>
					<string>Hackers</string>
					<key>TeamIdentifier</key>
					<string>2KB59GPA9B</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C0663A45-705C-45FD-AE8D-F56AF6847292</string>
				<key>UUID</key>
				<string>0344CDE6-61D8-4742-96C7-E0E0784441BC</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FD1DCB28-D5FA-4F61-8C38-234CC8B9C7A2</string>
				<key>WFMatchTextPattern</key>
				<string>Evergreen|Brain Food</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Selected Item</string>
								<key>OutputUUID</key>
								<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B25EB718-D98E-4EC6-8BEB-515BAB855600</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFConditionalActionString</key>
				<string>👉 </string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Matches</string>
							<key>OutputUUID</key>
							<string>FD1DCB28-D5FA-4F61-8C38-234CC8B9C7A2</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>11D9BCD5-DDA6-40FB-B262-72E121C88F62</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>Evergreen Lists</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>Name</string>
									<key>PropertyUserInfo</key>
									<string>WFItemName</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Matches</string>
							<key>OutputUUID</key>
							<string>FD1DCB28-D5FA-4F61-8C38-234CC8B9C7A2</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetKeysIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F5272218-2A25-48F1-BF5C-39D81B7969F5</string>
				<key>keyPath</key>
				<string>My Reminders.evergreenLists</string>
				<key>source</key>
				<string>dictionary</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>11D9BCD5-DDA6-40FB-B262-72E121C88F62</string>
				<key>UUID</key>
				<string>E14A8B3A-6034-4DDF-A2FD-9FE4D9E0D586</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>43F3ECCE-FED5-4E41-B689-F36E623ECD26</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>Brain Food Lists</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>Name</string>
									<key>PropertyUserInfo</key>
									<string>WFItemName</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Matches</string>
							<key>OutputUUID</key>
							<string>FD1DCB28-D5FA-4F61-8C38-234CC8B9C7A2</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A8810688-6789-42CE-A541-30F56D07D8B0</string>
				<key>WFTextActionText</key>
				<string>◻️</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>9E3FB3EE-57F2-4E8A-BCBB-6714F2454194</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>A8810688-6789-42CE-A541-30F56D07D8B0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>51A51D7D-F81D-496D-9074-3B3D2F68CE9E</string>
					<key>workflowName</key>
					<string>_Filter Reminder Lists</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Filter Reminder Lists</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>43F3ECCE-FED5-4E41-B689-F36E623ECD26</string>
				<key>UUID</key>
				<string>5D26D63C-E734-4701-8647-A02A7E6CF587</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Reminder List</string>
				<key>UUID</key>
				<string>EDDC5459-F63E-4EA7-934A-B13AA146EEE0</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which one?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>If Result</string>
						<key>OutputUUID</key>
						<string>5D26D63C-E734-4701-8647-A02A7E6CF587</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B7CD5601-5655-4C69-A4BD-D802228408CC</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>List</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Enumeration</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>OutputName</key>
												<string>Reminder List</string>
												<key>OutputUUID</key>
												<string>EDDC5459-F63E-4EA7-934A-B13AA146EEE0</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFStringSubstitutableState</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Is Completed</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Has Subtasks</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<true/>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<string>Library</string>
				<key>WFContentItemSortOrder</key>
				<string>A to Z</string>
				<key>WFContentItemSortProperty</key>
				<string>Name</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Parent Reminder</string>
				<key>UUID</key>
				<string>2B605470-92B2-4A4B-B751-415AF3B3EF78</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which one?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reminders</string>
						<key>OutputUUID</key>
						<string>B7CD5601-5655-4C69-A4BD-D802228408CC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.GetReminderIDIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>20360586-0CFE-47A4-A181-E58F52773082</string>
				<key>list</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reminder List</string>
						<key>OutputUUID</key>
						<string>EDDC5459-F63E-4EA7-934A-B13AA146EEE0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>reminder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Parent Reminder</string>
						<key>OutputUUID</key>
						<string>2B605470-92B2-4A4B-B751-415AF3B3EF78</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFDelayTime</key>
				<real>3</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.EditReminderIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A6E224FF-819D-4E20-9836-C3E74C98063D</string>
				<key>editType</key>
				<string>Open</string>
				<key>id</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Reminder UUID</string>
								<key>OutputUUID</key>
								<string>20360586-0CFE-47A4-A181-E58F52773082</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B25EB718-D98E-4EC6-8BEB-515BAB855600</string>
				<key>UUID</key>
				<string>57E3FF3B-D416-45DC-B9F2-73C3C9C2408F</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B3147146-5203-4CE0-B53D-A520EB4DC763</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Smarter Every Day</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.reminders.showlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFList</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/3E85BC26-9280-401C-8B04-CAAE3D34D410&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🔖 Smarter Every day</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B3147146-5203-4CE0-B53D-A520EB4DC763</string>
				<key>UUID</key>
				<string>56693182-7F07-4E3A-828F-30BC700DC283</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>D50B3027-350B-4C69-A78C-10244C2BC13E</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>The Enoughist's Pick</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ECF60134-1197-4665-A5BC-D955E8D1A981</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>8E70A3D4-CEA6-49E3-82D8-29AE52BBF227</string>
					<key>workflowName</key>
					<string>🤌 The Enoughist's Pick</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>🤌 The Enoughist's Pick</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>D50B3027-350B-4C69-A78C-10244C2BC13E</string>
				<key>UUID</key>
				<string>ADAE04DA-ED7F-4D7F-AAB4-9FCA9A32E228</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C6D1356F-674A-431A-BA4F-B5D01510DDAF</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Weekly Mindware Update</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>1198A390-A898-4A19-96C7-5E6C153EE9BF</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F7950FDB-FC80-4136-AA5B-DD3CD21895B8</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFMenuItems</key>
				<array>
					<string>✅ Yes</string>
					<string>❌ No</string>
				</array>
				<key>WFMenuPrompt</key>
				<string>🤖 Read Latest WMU?</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F7950FDB-FC80-4136-AA5B-DD3CD21895B8</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>✅ Yes</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.file.getfoldercontents</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Recursive</key>
				<true/>
				<key>UUID</key>
				<string>5D191083-2347-48EB-9F0C-2A1C427E2F8B</string>
				<key>WFFolder</key>
				<dict>
					<key>displayName</key>
					<string>issues</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/8F4919CC-67A9-48E2-A9FF-E3F92E34549E/2eab58e45aae2ce8f9eba8b573e471097fb3e718</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/94C360DB-8C66-408D-8531-5552FAD57577</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/Weekly-Mindware-Update/issues</string>
					</dict>
					<key>filename</key>
					<string>issues</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>763CBD88-D1DA-4B98-B37B-F7A41824538C</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array/>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Get Contents of Folder</string>
						<key>OutputUUID</key>
						<string>5D191083-2347-48EB-9F0C-2A1C427E2F8B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFContentItemLimitEnabled</key>
				<true/>
				<key>WFContentItemLimitNumber</key>
				<real>1</real>
				<key>WFContentItemSortOrder</key>
				<string>Z to A</string>
				<key>WFContentItemSortProperty</key>
				<string>Name</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F7950FDB-FC80-4136-AA5B-DD3CD21895B8</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>❌ No</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.file.getfoldercontents</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Recursive</key>
				<false/>
				<key>UUID</key>
				<string>295AB23D-670A-4F97-8DBD-8D54C7A39F25</string>
				<key>WFFolder</key>
				<dict>
					<key>displayName</key>
					<string>issues</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/8F4919CC-67A9-48E2-A9FF-E3F92E34549E/2eab58e45aae2ce8f9eba8b573e471097fb3e718</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/94C360DB-8C66-408D-8531-5552FAD57577</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/Weekly-Mindware-Update/issues</string>
					</dict>
					<key>filename</key>
					<string>issues</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1AD68ED0-FCA0-4B05-97BE-EE22A0D682DC</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array/>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Get Contents of Folder</string>
						<key>OutputUUID</key>
						<string>295AB23D-670A-4F97-8DBD-8D54C7A39F25</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFContentItemLimitEnabled</key>
				<false/>
				<key>WFContentItemLimitNumber</key>
				<real>5</real>
				<key>WFContentItemSortOrder</key>
				<string>Z to A</string>
				<key>WFContentItemSortProperty</key>
				<string>Name</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E97E7A27-7BBF-4D51-BE5C-4DCB1F58296A</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which year?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Files</string>
						<key>OutputUUID</key>
						<string>1AD68ED0-FCA0-4B05-97BE-EE22A0D682DC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>yearFolder</string>
				<key>UUID</key>
				<string>2F116748-B222-4377-BBE2-CB18E0F96F11</string>
				<key>WFFile</key>
				<dict>
					<key>displayName</key>
					<string>issues</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/8F4919CC-67A9-48E2-A9FF-E3F92E34549E/2eab58e45aae2ce8f9eba8b573e471097fb3e718</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/94C360DB-8C66-408D-8531-5552FAD57577</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/Weekly-Mindware-Update/issues</string>
					</dict>
					<key>filename</key>
					<string>issues</string>
				</dict>
				<key>WFGetFilePath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Selected Item</string>
								<key>OutputUUID</key>
								<string>E97E7A27-7BBF-4D51-BE5C-4DCB1F58296A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.file.getfoldercontents</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ECB43025-72DD-44E5-BDF2-DF703A9819B9</string>
				<key>WFFolder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>yearFolder</string>
						<key>OutputUUID</key>
						<string>2F116748-B222-4377-BBE2-CB18E0F96F11</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7C77B78A-473F-498E-AEDA-2FFBFC5B9893</string>
				<key>WFContentItemInputParameter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Get Contents of Folder</string>
						<key>OutputUUID</key>
						<string>ECB43025-72DD-44E5-BDF2-DF703A9819B9</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFContentItemSortOrder</key>
				<string>Z to A</string>
				<key>WFContentItemSortProperty</key>
				<string>Name</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>07CDC591-9DB4-4260-9F3E-DE5764D9033B</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which issue?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Files</string>
						<key>OutputUUID</key>
						<string>7C77B78A-473F-498E-AEDA-2FFBFC5B9893</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F7950FDB-FC80-4136-AA5B-DD3CD21895B8</string>
				<key>UUID</key>
				<string>B2C5721B-1E5A-41CD-8299-585F7F5CA9E8</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.properties.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>64EFF010-062E-4A91-9BB8-246E435AF782</string>
				<key>WFContentItemPropertyName</key>
				<string>File Path</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Menu Result</string>
						<key>OutputUUID</key>
						<string>B2C5721B-1E5A-41CD-8299-585F7F5CA9E8</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>036AFC00-E092-4F41-9B40-6589E3C7F659</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>File Path</string>
						<key>OutputUUID</key>
						<string>64EFF010-062E-4A91-9BB8-246E435AF782</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>73D10BEB-5350-4E77-B0EC-8F0824BE8995</string>
					<key>workflowName</key>
					<string>Open WMU</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Open WMU</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C6D1356F-674A-431A-BA4F-B5D01510DDAF</string>
				<key>UUID</key>
				<string>EEEFD89F-3B73-442A-A33C-99C632642F08</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>64ECF9BC-3FBB-4C95-8671-16332875BF3D</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4DDBAC30-3DC4-4122-BA37-BA7E7BA1F872</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>36A905D7-ED55-45C9-BD45-6B0034D1549B</string>
					<key>workflowName</key>
					<string>⚪️ Open Reading List</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>⚪️ Open Reading List</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>64ECF9BC-3FBB-4C95-8671-16332875BF3D</string>
				<key>UUID</key>
				<string>A94D7175-4895-4337-BF4F-918EFBBB5D43</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4046.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
