<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C8E14A07-D60F-47D9-93D2-725C7E04FEEF</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.apple.mobiletimer-framework.MobileTimerIntents.MTGetAlarmsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>ActionRequiresAppInstallation</key>
					<true/>
					<key>AppIntentIdentifier</key>
					<string>AlarmEntity</string>
					<key>BundleIdentifier</key>
					<string>com.apple.mobiletimer</string>
					<key>Name</key>
					<string>Clock</string>
					<key>TeamIdentifier</key>
					<string>0000000000</string>
				</dict>
				<key>UUID</key>
				<string>CC1D5242-C451-470E-8112-FA048CB61D37</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>hours</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Number</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Aggrandizements</key>
											<array>
												<dict>
													<key>Type</key>
													<string>WFDateFormatVariableAggrandizement</string>
													<key>WFDateFormat</key>
													<string>H</string>
													<key>WFDateFormatStyle</key>
													<string>Custom</string>
													<key>WFISO8601IncludeTime</key>
													<false/>
												</dict>
											</array>
											<key>OutputName</key>
											<string>Date</string>
											<key>OutputUUID</key>
											<string>C8E14A07-D60F-47D9-93D2-725C7E04FEEF</string>
											<key>Type</key>
											<string>ActionOutput</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenAttachment</string>
									</dict>
									<key>Unit</key>
									<integer>4</integer>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>minutes</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Number</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Aggrandizements</key>
											<array>
												<dict>
													<key>Type</key>
													<string>WFDateFormatVariableAggrandizement</string>
													<key>WFDateFormat</key>
													<string>m</string>
													<key>WFDateFormatStyle</key>
													<string>Custom</string>
													<key>WFISO8601IncludeTime</key>
													<false/>
												</dict>
											</array>
											<key>OutputName</key>
											<string>Date</string>
											<key>OutputUUID</key>
											<string>C8E14A07-D60F-47D9-93D2-725C7E04FEEF</string>
											<key>Type</key>
											<string>ActionOutput</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenAttachment</string>
									</dict>
									<key>Unit</key>
									<integer>4</integer>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<string>Library</string>
				<key>WFContentItemLimitEnabled</key>
				<false/>
				<key>WFContentItemLimitNumber</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2C52BC08-6DE6-4E11-B871-C4E30763DF31</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Alarms</string>
						<key>OutputUUID</key>
						<string>CC1D5242-C451-470E-8112-FA048CB61D37</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.apple.mobiletimer.DeleteAlarmIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>DeleteAlarmIntent</string>
					<key>BundleIdentifier</key>
					<string>com.apple.mobiletimer</string>
					<key>Name</key>
					<string>Clock</string>
					<key>TeamIdentifier</key>
					<string>0000000000</string>
				</dict>
				<key>UUID</key>
				<string>8AB8E5CF-69D4-4A70-A1A5-93DC506EA64E</string>
				<key>entities</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2C52BC08-6DE6-4E11-B871-C4E30763DF31</string>
				<key>UUID</key>
				<string>A83D14D8-7224-4BF1-AA45-5E1A16C6ADEE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getipaddress</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E5A2CC0A-47DC-4066-BCA1-92B6E5E1531E</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4F947EE1-CE65-4058-B145-FD009090ECDD</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Current IP Address</string>
							<key>OutputUUID</key>
							<string>E5A2CC0A-47DC-4066-BCA1-92B6E5E1531E</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5474AE36-6C58-438F-9F76-10C320EA98DA</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filename</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>rss-subscriptions</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Reddit</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4F947EE1-CE65-4058-B145-FD009090ECDD</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4EFF1993-6067-45FC-9ED9-25006E206938</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filename</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>config</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>My Reminders.evergreenLists</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4F947EE1-CE65-4058-B145-FD009090ECDD</string>
				<key>UUID</key>
				<string>0C247AF1-E32C-4438-9E50-BE3C57166FF8</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F55FFE4C-6752-472A-936B-9C891D9B20D3</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>If Result</string>
						<key>OutputUUID</key>
						<string>0C247AF1-E32C-4438-9E50-BE3C57166FF8</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>AB765028-4AD4-42A4-8A38-A4620DDCEC47</string>
					<key>workflowName</key>
					<string>_Get Value</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Get Value</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>PropertyName</key>
								<string>Keys</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>F55FFE4C-6752-472A-936B-9C891D9B20D3</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>AFC8782D-47E1-49B3-8995-01E6B834605A</string>
				<key>WFCountType</key>
				<string>Items</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0216545F-D417-4BA8-B894-60C7D918CCCF</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Count</string>
						<key>OutputUUID</key>
						<string>AFC8782D-47E1-49B3-8995-01E6B834605A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>1C84098A-BAB5-473C-A617-238CC3A25747</string>
					<key>workflowName</key>
					<string>Random Number Generator</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Random Number Generator</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C648593E-94E1-469B-916B-C82542A46728</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFRepeatCount</key>
				<real>5</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.calculateexpression</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{15, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Count</string>
								<key>OutputUUID</key>
								<string>AFC8782D-47E1-49B3-8995-01E6B834605A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>0216545F-D417-4BA8-B894-60C7D918CCCF</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{6, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Index</string>
							</dict>
						</dict>
						<key>string</key>
						<string>((￼ + ￼ - 1) % ￼) + 1</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>UUID</key>
				<string>FBCFE500-CA43-40E9-98A3-073DF1E19F7F</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getitemfromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B6E8FEC0-6450-4D11-91FB-DE3DDF35FB8D</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>PropertyName</key>
								<string>Keys</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>F55FFE4C-6752-472A-936B-9C891D9B20D3</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFItemIndex</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Calculation Result</string>
						<key>OutputUUID</key>
						<string>FBCFE500-CA43-40E9-98A3-073DF1E19F7F</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFItemSpecifier</key>
				<string>Item At Index</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C07067F5-4C8D-4346-8A74-CF689386D116</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Current IP Address</string>
							<key>OutputUUID</key>
							<string>E5A2CC0A-47DC-4066-BCA1-92B6E5E1531E</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>AB6F6DCF-5222-4F78-97FE-333DA055A79D</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Item from List</string>
						<key>OutputUUID</key>
						<string>B6E8FEC0-6450-4D11-91FB-DE3DDF35FB8D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>DA53E68C-C6A3-48A1-ACA3-F193CEC88354</string>
					<key>workflowName</key>
					<string>Template - Notification for Reddit</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Template - Notification for Reddit</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C07067F5-4C8D-4346-8A74-CF689386D116</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4D017880-DCB6-4F87-8E4D-24AB7B0DFECF</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Item from List</string>
						<key>OutputUUID</key>
						<string>B6E8FEC0-6450-4D11-91FB-DE3DDF35FB8D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>ED37B86B-4096-4F9B-824E-55817FF7CC52</string>
					<key>workflowName</key>
					<string>_Show Random Item from Evergreen List</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Show Random Item from Evergreen List</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C07067F5-4C8D-4346-8A74-CF689386D116</string>
				<key>UUID</key>
				<string>A2A7AEB7-8C2F-4828-9705-2FDE546F0E57</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C648593E-94E1-469B-916B-C82542A46728</string>
				<key>UUID</key>
				<string>30F01D16-41C1-45C9-8C22-1011E37E60CE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4407</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
