<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C8E14A07-D60F-47D9-93D2-725C7E04FEEF</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.apple.mobiletimer-framework.MobileTimerIntents.MTGetAlarmsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>ActionRequiresAppInstallation</key>
					<true/>
					<key>AppIntentIdentifier</key>
					<string>AlarmEntity</string>
					<key>BundleIdentifier</key>
					<string>com.apple.mobiletimer</string>
					<key>Name</key>
					<string>Clock</string>
					<key>TeamIdentifier</key>
					<string>0000000000</string>
				</dict>
				<key>UUID</key>
				<string>CC1D5242-C451-470E-8112-FA048CB61D37</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>hours</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Number</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Aggrandizements</key>
											<array>
												<dict>
													<key>Type</key>
													<string>WFDateFormatVariableAggrandizement</string>
													<key>WFDateFormat</key>
													<string>H</string>
													<key>WFDateFormatStyle</key>
													<string>Custom</string>
													<key>WFISO8601IncludeTime</key>
													<false/>
												</dict>
											</array>
											<key>OutputName</key>
											<string>Date</string>
											<key>OutputUUID</key>
											<string>C8E14A07-D60F-47D9-93D2-725C7E04FEEF</string>
											<key>Type</key>
											<string>ActionOutput</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenAttachment</string>
									</dict>
									<key>Unit</key>
									<integer>4</integer>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>minutes</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Number</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Aggrandizements</key>
											<array>
												<dict>
													<key>Type</key>
													<string>WFDateFormatVariableAggrandizement</string>
													<key>WFDateFormat</key>
													<string>m</string>
													<key>WFDateFormatStyle</key>
													<string>Custom</string>
													<key>WFISO8601IncludeTime</key>
													<false/>
												</dict>
											</array>
											<key>OutputName</key>
											<string>Date</string>
											<key>OutputUUID</key>
											<string>C8E14A07-D60F-47D9-93D2-725C7E04FEEF</string>
											<key>Type</key>
											<string>ActionOutput</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenAttachment</string>
									</dict>
									<key>Unit</key>
									<integer>4</integer>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<string>Library</string>
				<key>WFContentItemLimitEnabled</key>
				<false/>
				<key>WFContentItemLimitNumber</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.apple.mobiletimer.DeleteAlarmIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>DeleteAlarmIntent</string>
					<key>BundleIdentifier</key>
					<string>com.apple.mobiletimer</string>
					<key>Name</key>
					<string>Clock</string>
					<key>TeamIdentifier</key>
					<string>0000000000</string>
				</dict>
				<key>UUID</key>
				<string>8AB8E5CF-69D4-4A70-A1A5-93DC506EA64E</string>
				<key>entities</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Alarms</string>
						<key>OutputUUID</key>
						<string>CC1D5242-C451-470E-8112-FA048CB61D37</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A1622AFA-F48B-4B0D-BBE7-7E22097DBAF2</string>
				<key>WFItems</key>
				<array>
					<string>🛡️ My Fav Subreddit</string>
					<string>👨🏽‍💻 Better Dev</string>
					<string>🙋🏽 Did You Know</string>
					<string>💡 Make Life Easier</string>
					<string>🤓 I Want To Learn</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>EAF44587-7E5E-4BD3-880E-9CCF3335E3D6</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>List</string>
						<key>OutputUUID</key>
						<string>A1622AFA-F48B-4B0D-BBE7-7E22097DBAF2</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>isOnline</string>
				<key>UUID</key>
				<string>A33BD320-B459-455D-9B56-DCB16B6F9DF3</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>652AD141-F55D-4149-BB65-20A18A1FC8D4</string>
					<key>workflowName</key>
					<string>isOnline</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>isOnline</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A6421C44-8A61-44F9-A8CF-F661BD219140</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFBooleanContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>isOnline</string>
							<key>OutputUUID</key>
							<string>A33BD320-B459-455D-9B56-DCB16B6F9DF3</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>AB6F6DCF-5222-4F78-97FE-333DA055A79D</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>DA53E68C-C6A3-48A1-ACA3-F193CEC88354</string>
					<key>workflowName</key>
					<string>Template - Notification for Reddit</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Template - Notification for Reddit</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A6421C44-8A61-44F9-A8CF-F661BD219140</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>EAF44587-7E5E-4BD3-880E-9CCF3335E3D6</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4046.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
