<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Check if the input string contains any Chinese characters:
──────────────
• \u4E00-\u9FFF: Common CJK Unified Ideographs (includes both Simplified and Traditional Chinese).
• \u3400-\u4DBF: CJK Unified Ideographs Extension A.
• \uF900-\uFAFF: CJK Compatibility Ideographs (contains some Traditional Chinese characters).</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E8E461A1-5CB9-42B5-827A-0E2A08492D1B</string>
				<key>WFMatchTextPattern</key>
				<string>^[\u4E00-\u9FFF\u3400-\u4DBF\uF900-\uFAFF]*$</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>58651EE1-BF6D-48C9-9729-E4DF7ED8EB10</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Matches</string>
							<key>OutputUUID</key>
							<string>E8E461A1-5CB9-42B5-827A-0E2A08492D1B</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>422B3013-4BFA-4E2D-8D03-D803B9F4566C</string>
				<key>WFTextActionText</key>
				<string>Yes</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>58651EE1-BF6D-48C9-9729-E4DF7ED8EB10</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFTextActionText</key>
				<string>No</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>58651EE1-BF6D-48C9-9729-E4DF7ED8EB10</string>
				<key>UUID</key>
				<string>2D46FD09-62C5-4304-9B3F-97FE85A2DDF1</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>If Result</string>
								<key>OutputUUID</key>
								<string>2D46FD09-62C5-4304-9B3F-97FE85A2DDF1</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4042.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFStringContentItem</string>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
