<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A5A1CDB5-2986-40A4-986B-F560E0052DA2</string>
				<key>WFItems</key>
				<array>
					<string>👉 Log Journal</string>
					<string>👉 Open Journal</string>
					<string>👉 Search Journal</string>
					<string>👉 Go to Journal Backlog</string>
					<string>👉 View Journal Metadata</string>
					<string>👉 Journals On Specific Week</string>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>attachmentsByRange</key>
								<dict>
									<key>{24, 1}</key>
									<dict>
										<key>Aggrandizements</key>
										<array>
											<dict>
												<key>Type</key>
												<string>WFDateFormatVariableAggrandizement</string>
												<key>WFDateFormat</key>
												<string>(M/d)</string>
												<key>WFDateFormatStyle</key>
												<string>Custom</string>
												<key>WFISO8601IncludeTime</key>
												<false/>
											</dict>
										</array>
										<key>Type</key>
										<string>CurrentDate</string>
									</dict>
								</dict>
								<key>string</key>
								<string>👉 Journals On This Day ￼</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenString</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which one?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>List</string>
						<key>OutputUUID</key>
						<string>A5A1CDB5-2986-40A4-986B-F560E0052DA2</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F2289C21-4D77-4481-A445-7F4BC51F83C9</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Log Journal</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4599D514-70B0-4CEA-9927-0179E27FBC99</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>5BAE1DA2-FC30-4FFA-9A44-466C405DA925</string>
					<key>workflowName</key>
					<string>✍️ Log Journal</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>✍️ Log Journal</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F2289C21-4D77-4481-A445-7F4BC51F83C9</string>
				<key>UUID</key>
				<string>7778850A-28C8-445D-B677-BD911656D312</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A29B71E4-84D9-4D16-9438-145DB9AA4741</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Open Journal</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>974A5D2F-64CC-4244-B7E2-91C38760BCCF</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>13C27FE0-3D0E-46E7-AC5F-A2DF98404C17</string>
					<key>workflowName</key>
					<string>📔 View Journals</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>📔 View Journals</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A29B71E4-84D9-4D16-9438-145DB9AA4741</string>
				<key>UUID</key>
				<string>7C3D0EA1-4022-464D-9A53-986EB17AAA3C</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>711E3FC9-0F1B-4E1B-B3A0-217FA55C3A06</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>View Journal Metadata</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E883684E-71B0-4D78-A0DF-35A74A3BF2E3</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>77A908EF-9A99-4783-9750-D3A79E80DF6D</string>
					<key>workflowName</key>
					<string>_Show Journal Metadata</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Show Journal Metadata</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>711E3FC9-0F1B-4E1B-B3A0-217FA55C3A06</string>
				<key>UUID</key>
				<string>B2C3A776-1DF7-4C49-B9E2-AAD2DD6EC1AD</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>FDFA1011-6D55-4E01-BAB1-486935C7FA5D</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Search Journal</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.ask</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>778856F5-3F59-4D07-9A7C-4D1B98CF1C61</string>
				<key>WFAllowsMultilineText</key>
				<false/>
				<key>WFAskActionPrompt</key>
				<string>🔎 What are you looking for?</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C3C33161-227E-4C1B-A682-A5031A3557C9</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Provided Input</string>
						<key>OutputUUID</key>
						<string>778856F5-3F59-4D07-9A7C-4D1B98CF1C61</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B624C712-D757-4440-BB01-44E3F50FD148</string>
					<key>workflowName</key>
					<string>🔎 Search Journals</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>🔎 Search Journals</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>FDFA1011-6D55-4E01-BAB1-486935C7FA5D</string>
				<key>UUID</key>
				<string>7EDA8E2C-7E6D-4758-A6BB-73B29DF39B60</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8072F88E-F6E6-4DBF-8880-A329A6B89BE7</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Go to Journal Backlog</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>23118382-8A6B-4C7F-8943-B496620BA86A</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filepath</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Daily-Bullet-Journal/Journal-Backlog</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FC04E48A-2B66-44F8-9F9B-E07588701C57</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>23118382-8A6B-4C7F-8943-B496620BA86A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>2EFCE47D-B1E1-4C88-AA1C-C455C2C13913</string>
					<key>workflowName</key>
					<string>Obsidian - Open Note</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Open Note</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8072F88E-F6E6-4DBF-8880-A329A6B89BE7</string>
				<key>UUID</key>
				<string>204D9076-566B-45D0-B149-BC2683600929</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4A8CED15-044C-4982-8B97-68A5FEF8A26B</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Journals On Specific Week</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FCA4BD40-985D-48BD-A1BA-4120EBD35EB3</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>98AA2825-46F0-42CB-96E6-C1C5BC4BEB39</string>
					<key>workflowName</key>
					<string>📇 Review Journals On Specific Week</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>📇 Review Journals On Specific Week</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4A8CED15-044C-4982-8B97-68A5FEF8A26B</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>AC37DBDA-F0D9-4CBD-ACC1-EF6B2598BE2E</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Journals On This Day</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFStringContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputUUID</key>
							<string>ACF95507-0006-410F-B4C3-9B3326B4A4B1</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D640DA63-7962-44E4-A3E0-41A4F1F77AD6</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>90929DFD-DCF2-48BD-B2CA-CE6EDC7F4B4B</string>
					<key>workflowName</key>
					<string>🍄 Journals On This Day</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>🍄 Journals On This Day</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>AC37DBDA-F0D9-4CBD-ACC1-EF6B2598BE2E</string>
				<key>UUID</key>
				<string>AC44BCF9-15F1-4AD8-B338-A9B91067FCA9</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3612.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ActionIndex</key>
			<integer>17</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Text</key>
			<string>Notion API Key</string>
		</dict>
		<dict>
			<key>ActionIndex</key>
			<integer>19</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Text</key>
			<string>Database ID</string>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
