<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Year</string>
				<key>UUID</key>
				<string>11B66F9E-426F-497C-8E59-054F3EDE707D</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormat</key>
				<string>yyyy</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
				<key>WFTimeFormatStyle</key>
				<string>None</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>WeekNumber1</string>
				<key>UUID</key>
				<string>CC8C7D35-3639-4750-8D84-C6C666102DA2</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>62486A0E-5C10-4249-9B8A-7A7DEDDD8A74</string>
					<key>workflowName</key>
					<string>getCurentWeekNumber1</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getCurentWeekNumber1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>WeekNumber2</string>
				<key>UUID</key>
				<string>CAAF3B9E-3485-4675-B0D5-C3C66261D6C2</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>0328B4D2-16E7-4A53-96F1-1F7336D18BC7</string>
					<key>workflowName</key>
					<string>getCurentWeekNumber2</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getCurentWeekNumber2</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>filename</string>
				<key>UUID</key>
				<string>AD00FF24-2ACC-4558-96F4-E23BA231B700</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Year</string>
								<key>OutputUUID</key>
								<string>11B66F9E-426F-497C-8E59-054F3EDE707D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{7, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>WeekNumber2</string>
								<key>OutputUUID</key>
								<string>CAAF3B9E-3485-4675-B0D5-C3C66261D6C2</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼_Week_￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>filepath</string>
				<key>UUID</key>
				<string>A5E1FCD0-CEDE-496F-B50D-6CA2BA414DC7</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>filename</string>
						<key>OutputUUID</key>
						<string>AD00FF24-2ACC-4558-96F4-E23BA231B700</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>F79DD319-050F-4ABD-994D-C881A27F9583</string>
					<key>workflowName</key>
					<string>_Get WMU File Path</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Get WMU File Path</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>9296A5AC-0A81-400D-A514-8EAF9F99ADB4</string>
				<key>WFFile</key>
				<dict>
					<key>displayName</key>
					<string>Second-Brain</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/605C0ACE-E417-46F1-92D6-DCE07191E691/cd3551b64a22879ecb35ed82e0b007ce35786f8e</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/BCF96BB5-C0C4-44A7-8C03-2D21A4ABEB46</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain</string>
					</dict>
					<key>filename</key>
					<string>Second-Brain</string>
				</dict>
				<key>WFFileErrorIfNotFound</key>
				<false/>
				<key>WFGetFilePath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>filepath</string>
								<key>OutputUUID</key>
								<string>A5E1FCD0-CEDE-496F-B50D-6CA2BA414DC7</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A90A5059-6E89-4EA1-A3C5-0C3EA08F3DEF</string>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>File</string>
							<key>OutputUUID</key>
							<string>9296A5AC-0A81-400D-A514-8EAF9F99ADB4</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E27A8C7D-A285-467E-AAE3-9C886447E9FF</string>
				<key>WFTextActionText</key>
				<string>🧠</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>663D11C6-8F47-4C67-9FC4-3CBB8E892EA5</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>E27A8C7D-A285-467E-AAE3-9C886447E9FF</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>51A51D7D-F81D-496D-9074-3B3D2F68CE9E</string>
					<key>workflowName</key>
					<string>Filter Reminder Lists</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Filter Reminder Lists</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>DC921AE2-6B98-4126-B2FC-25904AE88C93</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>663D11C6-8F47-4C67-9FC4-3CBB8E892EA5</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A3F92ED6-2E92-4855-A6A7-7921ABAD9C7F</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>List</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Enumeration</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFStringSubstitutableState</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Is Completed</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<dict>
										<key>Value</key>
										<false/>
										<key>WFSerializationType</key>
										<string>WFBooleanSubstitutableState</string>
									</dict>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<string>Library</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>33C33D83-E297-4B92-A4A9-E4CAA93FCEF5</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reminders</string>
						<key>OutputUUID</key>
						<string>A3F92ED6-2E92-4855-A6A7-7921ABAD9C7F</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A4B5856D-06E3-4061-9D16-E7F5BF520337</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>URL</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Repeat Item 2</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Remove</string>
				<key>UUID</key>
				<string>6A76437D-14C5-47C8-BB94-661BBAFB18E7</string>
				<key>WFContentItemPropertyName</key>
				<string>URL</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item 2</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A4B5856D-06E3-4061-9D16-E7F5BF520337</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>33C33D83-E297-4B92-A4A9-E4CAA93FCEF5</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F4CFB3BC-306D-4D1D-9BCB-600EAE8E83C8</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>8FC46502-BE99-4573-AE81-F7EBE87C0935</string>
					<key>workflowName</key>
					<string>Strip Leading Symbol</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Strip Leading Symbol</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8D93631B-A100-4103-847E-9E4DA9C2C342</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>listName</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>Repeat Item</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>numberOfListItems</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>5</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>4</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>setAsCompleted</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<true/>
									<key>WFSerializationType</key>
									<string>WFNumberSubstitutableState</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A323AC01-B8B0-483C-AE09-E47B9D0483F6</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>8D93631B-A100-4103-847E-9E4DA9C2C342</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>D116D0A0-FED4-4888-ADB5-C9A36512BE64</string>
					<key>workflowName</key>
					<string>Reminders2md</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Reminders2md</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FCE3C528-C3EB-4303-9142-03E301498040</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{2, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>F4CFB3BC-306D-4D1D-9BCB-600EAE8E83C8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{5, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>A323AC01-B8B0-483C-AE09-E47B9D0483F6</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string># ￼

￼
</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>DC921AE2-6B98-4126-B2FC-25904AE88C93</string>
				<key>UUID</key>
				<string>6606FA5E-6D1E-4919-988F-149B659411FE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.file.getfoldercontents</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Recursive</key>
				<true/>
				<key>UUID</key>
				<string>0CB7BCFD-4B24-49CD-AD78-E4D6F7D3E535</string>
				<key>WFFolder</key>
				<dict>
					<key>displayName</key>
					<string>issues</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/8F4919CC-67A9-48E2-A9FF-E3F92E34549E/2eab58e45aae2ce8f9eba8b573e471097fb3e718</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/94C360DB-8C66-408D-8531-5552FAD57577</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/Weekly-Mindware-Update/issues</string>
					</dict>
					<key>filename</key>
					<string>issues</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Get Contents of Folder</string>
						<key>OutputUUID</key>
						<string>0CB7BCFD-4B24-49CD-AD78-E4D6F7D3E535</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>0FAE4B47-A4A5-4D3D-896B-F0B4D342EFB3</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.math</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>issue</string>
				<key>UUID</key>
				<string>C8FF3661-2B21-4369-83DB-B29AA5A423D7</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Count</string>
						<key>OutputUUID</key>
						<string>0FAE4B47-A4A5-4D3D-896B-F0B4D342EFB3</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFMathOperand</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.adjustdate</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Previous</string>
				<key>UUID</key>
				<string>6AEA7487-D145-495D-A7CB-B474734F76A5</string>
				<key>WFAdjustOperation</key>
				<string>Subtract</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDuration</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Magnitude</key>
						<string>1</string>
						<key>Unit</key>
						<string>weeks</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFQuantityFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Previous</string>
				<key>UUID</key>
				<string>FE6530DB-8043-4003-951F-5CF0323350BA</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Previous</string>
								<key>OutputUUID</key>
								<string>6AEA7487-D145-495D-A7CB-B474734F76A5</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormat</key>
				<string>yyyy'_Week_'ww</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
				<key>WFLocale</key>
				<string>en_GB</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.adjustdate</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Next</string>
				<key>UUID</key>
				<string>0F2F803B-3F5E-495F-AB58-AC15FEEDBF89</string>
				<key>WFAdjustOperation</key>
				<string>Add</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDuration</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Magnitude</key>
						<string>1</string>
						<key>Unit</key>
						<string>weeks</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFQuantityFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Next</string>
				<key>UUID</key>
				<string>1F08C517-D1F8-43EE-8130-DB0ADB277210</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Next</string>
								<key>OutputUUID</key>
								<string>0F2F803B-3F5E-495F-AB58-AC15FEEDBF89</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormat</key>
				<string>yyyy'_Week_'ww</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
				<key>WFLocale</key>
				<string>en_GB</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>mdContent</string>
				<key>UUID</key>
				<string>F5E1BF0F-A127-4216-90C4-C8F1C99371BD</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{16, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>WeekNumber1</string>
								<key>OutputUUID</key>
								<string>CC8C7D35-3639-4750-8D84-C6C666102DA2</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{19, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Year</string>
								<key>OutputUUID</key>
								<string>11B66F9E-426F-497C-8E59-054F3EDE707D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{28, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>issue</string>
								<key>OutputUUID</key>
								<string>C8FF3661-2B21-4369-83DB-B29AA5A423D7</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{36, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Year</string>
								<key>OutputUUID</key>
								<string>11B66F9E-426F-497C-8E59-054F3EDE707D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{50, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>WeekNumber1</string>
								<key>OutputUUID</key>
								<string>CC8C7D35-3639-4750-8D84-C6C666102DA2</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{61, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Previous</string>
								<key>OutputUUID</key>
								<string>FE6530DB-8043-4003-951F-5CF0323350BA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{75, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Next</string>
								<key>OutputUUID</key>
								<string>1F08C517-D1F8-43EE-8130-DB0ADB277210</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{89, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>yyyy-MM-dd'T'HH:mm:ss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{96, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Repeat Results</string>
								<key>OutputUUID</key>
								<string>6606FA5E-6D1E-4919-988F-149B659411FE</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>---
title: Week ￼, ￼
issue: ￼
year: ￼
weekNumber: ￼
prev: "[[￼]]"
next: "[[￼]]"
created: ￼
---

￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A8BEC108-FB55-4944-B5C5-07990744744C</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filepath</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>filepath</string>
												<key>OutputUUID</key>
												<string>A5E1FCD0-CEDE-496F-B50D-6CA2BA414DC7</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>content</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>mdContent</string>
												<key>OutputUUID</key>
												<string>F5E1BF0F-A127-4216-90C4-C8F1C99371BD</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>44C859BC-D177-462C-9FD3-770063441179</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>A8BEC108-FB55-4944-B5C5-07990744744C</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>6246B7D4-F2A7-42E4-B6DD-CEB9C0AB1FDC</string>
					<key>workflowName</key>
					<string>🗒️ Create New Note</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>🗒️ Create New Note</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3B923E51-0E96-41A8-A82E-EF25DA0272B4</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{13, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>issue</string>
								<key>OutputUUID</key>
								<string>C8FF3661-2B21-4369-83DB-B29AA5A423D7</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>📖 Read WMU #￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7410A3CB-B304-475A-96E9-10E4988D24CF</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Title</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>OutputName</key>
													<string>Text</string>
													<key>OutputUUID</key>
													<string>3B923E51-0E96-41A8-A82E-EF25DA0272B4</string>
													<key>Type</key>
													<string>ActionOutput</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Is Completed</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<dict>
										<key>Value</key>
										<false/>
										<key>WFSerializationType</key>
										<string>WFBooleanSubstitutableState</string>
									</dict>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<string>Library</string>
				<key>WFContentItemLimitEnabled</key>
				<true/>
				<key>WFContentItemLimitNumber</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>5A900B08-F042-496C-89DC-EFAD395C2FCE</string>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Reminders</string>
							<key>OutputUUID</key>
							<string>7410A3CB-B304-475A-96E9-10E4988D24CF</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8261EB79-A402-4A7B-BE97-824ECF499D0D</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>shortcutName</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Open WMU</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>shortcutInput</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>filename</string>
												<key>OutputUUID</key>
												<string>AD00FF24-2ACC-4558-96F4-E23BA231B700</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EBE6AF00-3A3F-4A9B-A2D7-B7216D28CA90</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>8261EB79-A402-4A7B-BE97-824ECF499D0D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>A4D0829E-EC6C-4E7E-8088-6EBD82EA8061</string>
					<key>workflowName</key>
					<string>Build Run Shortcut URL</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Build Run Shortcut URL</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>9A7ECA2C-A863-41AC-945B-978A7465B215</string>
				<key>WFAlertCustomTime</key>
				<string>Today</string>
				<key>WFAlertEnabled</key>
				<string>Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/3F687661-DE57-448A-86E0-82C95D7915CF&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🗓️ Scheduled</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🗓️ Scheduled</string>
				<key>WFCalendarItemNotes</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{5, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>WeekNumber1</string>
								<key>OutputUUID</key>
								<string>CC8C7D35-3639-4750-8D84-C6C666102DA2</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{8, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Year</string>
								<key>OutputUUID</key>
								<string>11B66F9E-426F-497C-8E59-054F3EDE707D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Week ￼, ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>3B923E51-0E96-41A8-A82E-EF25DA0272B4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFPriority</key>
				<string>None</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>EBE6AF00-3A3F-4A9B-A2D7-B7216D28CA90</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>5A900B08-F042-496C-89DC-EFAD395C2FCE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>A90A5059-6E89-4EA1-A3C5-0C3EA08F3DEF</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3303.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>NCWidget</string>
	</array>
</dict>
</plist>
