<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6BDCE6D3-FE09-437C-9543-E1FBDBEF6441</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filename</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>config</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>API Credentials.GitHub.apiKey</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2AF754A0-16DC-445A-A127-5E1F8060F1E8</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>6BDCE6D3-FE09-437C-9543-E1FBDBEF6441</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>AB765028-4AD4-42A4-8A38-A4620DDCEC47</string>
					<key>workflowName</key>
					<string>_Get Value</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Get Value</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>fileContent</string>
				<key>ShowHeaders</key>
				<true/>
				<key>UUID</key>
				<string>CFFDD949-8358-4CDF-B25D-C28762E7A1F1</string>
				<key>WFHTTPHeaders</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Authorization</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{6, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>Shortcut Result</string>
												<key>OutputUUID</key>
												<string>2AF754A0-16DC-445A-A127-5E1F8060F1E8</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>Token ￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFURL</key>
				<string>https://raw.githubusercontent.com/huaminghuangtw/Floccus/main/tabs.html</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8D26A1F8-1712-41DE-8C73-C3E7E11F8E98</string>
				<key>WFMatchTextPattern</key>
				<string>HREF="(.*?)" TAGS="" ID="\d+"&gt;((?!New Tab).*?)&lt;</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>fileContent</string>
								<key>OutputUUID</key>
								<string>CFFDD949-8358-4CDF-B25D-C28762E7A1F1</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match.getgroup</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>hrefs</string>
				<key>UUID</key>
				<string>809AEF0A-B1F3-4670-8E7B-A8471B9A0465</string>
				<key>matches</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Matches</string>
						<key>OutputUUID</key>
						<string>8D26A1F8-1712-41DE-8C73-C3E7E11F8E98</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match.getgroup</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>titles</string>
				<key>UUID</key>
				<string>E763BAE4-7F60-434E-83CC-8894BD2A1B82</string>
				<key>WFGroupIndex</key>
				<string>2</string>
				<key>matches</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Matches</string>
						<key>OutputUUID</key>
						<string>8D26A1F8-1712-41DE-8C73-C3E7E11F8E98</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.combine</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>824828E8-0773-4E18-8163-142546B2E44A</string>
				<key>WFTextCustomSeparator</key>
				<string>$=•=$</string>
				<key>WFTextSeparator</key>
				<string>Custom</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>titles</string>
						<key>OutputUUID</key>
						<string>E763BAE4-7F60-434E-83CC-8894BD2A1B82</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getrichtextfrommarkdown</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>34C50C19-3DD2-4882-B00D-B9D80DB1EE03</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Combined Text</string>
						<key>OutputUUID</key>
						<string>824828E8-0773-4E18-8163-142546B2E44A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.split</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8F072FE8-AC7F-4AF7-A586-2C16029BCE64</string>
				<key>WFTextCustomSeparator</key>
				<string>$=•=$</string>
				<key>WFTextSeparator</key>
				<string>Custom</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Rich Text from Markdown</string>
						<key>OutputUUID</key>
						<string>34C50C19-3DD2-4882-B00D-B9D80DB1EE03</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2B1628F5-CC97-42C7-BEF4-2B7D875BEEF6</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Split Text</string>
							<key>OutputUUID</key>
							<string>8F072FE8-AC7F-4AF7-A586-2C16029BCE64</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4590415D-1FB6-454B-B35C-A73051CC49F4</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>👇Select one or multiple👇</string>
				<key>WFChooseFromListActionSelectAll</key>
				<true/>
				<key>WFChooseFromListActionSelectMultiple</key>
				<true/>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Split Text</string>
						<key>OutputUUID</key>
						<string>8F072FE8-AC7F-4AF7-A586-2C16029BCE64</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B0759F98-F192-4960-821B-5E670A0384B0</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Selected Item</string>
						<key>OutputUUID</key>
						<string>4590415D-1FB6-454B-B35C-A73051CC49F4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.trimwhitespace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F6717121-ACC9-43EF-8309-67BABB0FB839</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>80BCA490-CC35-4238-B813-4D7DE09704ED</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>item</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>Updated Text</string>
												<key>OutputUUID</key>
												<string>F6717121-ACC9-43EF-8309-67BABB0FB839</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>list</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>Split Text</string>
												<key>OutputUUID</key>
												<string>8F072FE8-AC7F-4AF7-A586-2C16029BCE64</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5F2F6988-A763-4A63-A7F2-A788ED205530</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>80BCA490-CC35-4238-B813-4D7DE09704ED</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>10A9DA97-1CD3-49BD-84C7-660C13E1AC17</string>
					<key>workflowName</key>
					<string>Gate Index of List Item (Last Occurrence)</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Gate Index of List Item (Last Occurrence)</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getitemfromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6DFEB96A-1A34-4534-804A-33EE347C6CFC</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>hrefs</string>
						<key>OutputUUID</key>
						<string>809AEF0A-B1F3-4670-8E7B-A8471B9A0465</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFItemIndex</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>5F2F6988-A763-4A63-A7F2-A788ED205530</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFItemSpecifier</key>
				<string>Item At Index</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>090B72A0-49EF-4A2B-8813-684FEE986CC0</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Item from List</string>
						<key>OutputUUID</key>
						<string>6DFEB96A-1A34-4534-804A-33EE347C6CFC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B0759F98-F192-4960-821B-5E670A0384B0</string>
				<key>UUID</key>
				<string>DBAC1D7A-5766-40AD-81C4-F216CD0F07B1</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2B1628F5-CC97-42C7-BEF4-2B7D875BEEF6</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.useractivity.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppBundleIdentifier</key>
				<string>com.brave.ios.browser</string>
				<key>UUID</key>
				<string>0B672759-071F-4BA8-B0B7-17E1EC3CCBE7</string>
				<key>UserActivityData</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEBILDC0zOTo7P0JGS1NU
				VVZXW1xVJG51bGzfEBANDg8QERITFBUWFxgZGhscHR4f
				ICEiIyQlJiAoKSAgIV8QFHBlcnNpc3RlbnRJZGVudGlm
				aWVyV29wdGlvbnNXdmVyc2lvbl8QEWVsaWdpYmxlRm9y
				U2VhcmNoXxAZZWxpZ2libGVGb3JQdWJsaWNJbmRleGlu
				Z1xhY3Rpdml0eVR5cGVUd2hlblV0aXRsZVR0eXBlViRj
				bGFzc18QEmVsaWdpYmxlRm9ySGFuZG9mZl8QF2NvbnRl
				bnRBdHRyaWJ1dGVTZXREYXRhWHBheWxvYWRzXxAUZWxp
				Z2libGVGb3JSZW1pbmRlcnNfEBVlbGlnaWJsZUZvclBy
				ZWRpY3Rpb25YaXNBY3RpdmWAEIACEAEJCIAFgAaABBAB
				gBEJgAiACgkJCNMuLxYwMTJXTlMua2V5c1pOUy5vYmpl
				Y3RzoKCAA9I0NTY3WiRjbGFzc25hbWVYJGNsYXNzZXNc
				TlNEaWN0aW9uYXJ5ojY4WE5TT2JqZWN0XxAcT3BlbiBC
				cmF2ZSBCcm93c2VyIEJvb2ttYXJrc18QI2NvbS5icmF2
				ZS5pb3MuYnJvd3Nlci5PcGVuQm9va21hcmtz0jwWPT5X
				TlMudGltZSNBx+gOTDUsx4AH0jQ1QEFWTlNEYXRlokA4
				0kMWREVXTlMuZGF0YU8RAlhicGxpc3QwMNQBAgMEBQYH
				ClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0
				cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QgJVHJvb3SA
				AaQLDBESVSRudWxs0g0ODxBZY29udGFpbmVyViRjbGFz
				c4ACgANPEQEn3roAAQAAJwEAAOYAAAAdAAAA8OYAAAAA
				AOYAAADFAAAAAwC6AAAAJQAAAF9fY2xhc3M6Q1NTZWFy
				Y2hhYmxlSXRlbUF0dHJpYnV0ZVNldACDAAAAAwBoAAAA
				AQAYAAAA//5wAHUAYgBsAGkAYwAuAGkAdABlAG0APAAA
				AP/+TwBwAGUAbgAgAEIAcgBvAHcAcwBlAHIAIABCAG8A
				bwBrAG0AYQByAGsAcwAgAFMAYwByAGUAZQBuAAAAAwAq
				AAAAAAAAAOAVAAAAeAAAAPUAAAAAXAAAAPUnAAAA9AAA
				AADiUAAAAPESAGtNREl0ZW1Db250ZW50VHlwZQASAGtN
				REl0ZW1EZXNjcmlwdGlvbgAUAGtNREl0ZW1UaHVtYm5h
				aWxEYXRhANITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNf
				EBxDU1NlYXJjaGFibGVJdGVtQXR0cmlidXRlU2V0ohcY
				XxAcQ1NTZWFyY2hhYmxlSXRlbUF0dHJpYnV0ZVNldFhO
				U09iamVjdAAIABEAGgAkACkAMgA3AEkATABRAFMAWABe
				AGMAbQB0AHYAeAGjAagBswG8AdsB3gH9AAAAAAAAAgEA
				AAAAAAAAGQAAAAAAAAAAAAAAAAAAAgaACdI0NUdIXU5T
				TXV0YWJsZURhdGGjSUo4XU5TTXV0YWJsZURhdGFWTlNE
				YXRh0y4vFkxPUqJNToALgAyiUFGADYAOgA9fEBpVQUlu
				dGVudHNJZGVudGlmaWVyUGF5bG9hZF8QJFVBSU5TdWdn
				ZXN0ZWRJbnZvY2F0aW9uUGhyYXNlUGF5bG9hZE8QsGJw
				bGlzdDAw1AECAwQFBgcKWCR2ZXJzaW9uWSRhcmNoaXZl
				clQkdG9wWCRvYmplY3RzEgABhqBfEA9OU0tleWVkQXJj
				aGl2ZXLRCAlUcm9vdIABogsMVSRudWxsXxAkQkY1MTdE
				MDEtNkFFRS00Q0YyLUE3QjEtQUEzQzk1MkQ4NjAzCBEa
				JCkyN0lMUVNWXAAAAAAAAAEBAAAAAAAAAA0AAAAAAAAA
				AAAAAAAAAACDTk9wZW4gQm9va21hcmtz0jQ1WFlfEBNO
				U011dGFibGVEaWN0aW9uYXJ5o1o2OF8QE05TTXV0YWJs
				ZURpY3Rpb25hcnlfECNjb20uYnJhdmUuaW9zLmJyb3dz
				ZXIuT3BlbkJvb2ttYXJrc9I0NV1eXxASVUFVc2VyQWN0
				aXZpdHlJbmZvol84XxASVUFVc2VyQWN0aXZpdHlJbmZv
				AAgAEQAaACQAKQAyADcASQBMAFEAUwBoAG4AkQCoALAA
				uADMAOgA9QD6AQABBQEMASEBOwFEAVsBcwF8AX4BgAGC
				AYMBhAGGAYgBigGMAY4BjwGRAZMBlAGVAZYBnQGlAbAB
				sQGyAbQBuQHEAc0B2gHdAeYCBQIrAjACOAJBAkMCSAJP
				AlICVwJfBLsEvQTCBNAE1ATiBOkE8ATzBPUE9wT6BPwE
				/gUABR0FRAX3BgYGCwYhBiUGOwZhBmYGewZ+AAAAAAAA
				AgEAAAAAAAAAYAAAAAAAAAAAAAAAAAAABpM=
				</data>
				<key>UserActivityDescriptor</key>
				<dict>
					<key>BundleIdentifier</key>
					<string>com.brave.ios.browser</string>
					<key>Name</key>
					<string>Brave</string>
					<key>TeamIdentifier</key>
					<string>KL8N8XSYF4</string>
					<key>UserActivityType</key>
					<string>com.brave.ios.browser.OpenBookmarks</string>
				</dict>
				<key>UserActivitySubtitle</key>
				<string>Open Browser Bookmarks Screen</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2B1628F5-CC97-42C7-BEF4-2B7D875BEEF6</string>
				<key>UUID</key>
				<string>EAB5BD3F-509D-4312-ACAC-6FCF34B5E566</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4407</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
