<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getdevicedetails</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>854159EC-E691-424C-A7C9-F370ACB14602</string>
				<key>WFDeviceDetail</key>
				<string>Current Brightness</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setbrightness</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFBrightness</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7C54D11A-6918-41AD-8B56-F77951390798</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>735A45E5-B02A-472F-BE53-701CA79777B6</string>
					<key>workflowName</key>
					<string>Obsidian - Set Unique Attachments Names</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Set Unique Attachments Names</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFDelayTime</key>
				<real>5</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>DA23FA4F-CEA8-4D7A-A0E2-86E28FA49341</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>0E6187FA-CA0F-4C63-B320-2D964EE45F17</string>
					<key>workflowName</key>
					<string>Obsidian - Replace All Wiki Links with Markdown Links</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Replace All Wiki Links with Markdown Links</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFDelayTime</key>
				<real>5</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>015D7A12-BD82-4C2D-B9EF-2982688DD8A0</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>F298FB3C-A6B6-4E7C-B488-64418C0F5933</string>
					<key>workflowName</key>
					<string>Obsidian - Convert All Link Paths to Relative Paths</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Convert All Link Paths to Relative Paths</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFDelayTime</key>
				<real>5</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>48F4DFDB-184D-44B0-AB1C-8B4BDB47817C</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>276EB473-B6EE-4DF6-BE54-710A4721FB9F</string>
					<key>workflowName</key>
					<string>Obsidian - Convert All Embed Paths to Relative Paths</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Convert All Embed Paths to Relative Paths</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFDelayTime</key>
				<real>5</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A84A4CD3-235C-4768-9FD3-CDD36FC1057B</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>41058174-5686-4800-8903-B5415FF9666D</string>
					<key>workflowName</key>
					<string>Obsidian - Lint All Vault Files</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Lint All Vault Files</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setbrightness</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFBrightness</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Current Brightness</string>
						<key>OutputUUID</key>
						<string>854159EC-E691-424C-A7C9-F370ACB14602</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4046.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>-1448498689</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
