<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B0906D7F-3075-4669-A745-7EEEBF71FC32</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>9C09DF93-5225-4301-AF6F-4823F64B1D52</string>
					<key>workflowName</key>
					<string>Show Day Progress</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Show Day Progress</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D576896B-A416-4F68-A6E9-7E038FDD9FC6</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>7D922792-77AB-44F6-AFFB-4361D1A39496</string>
					<key>workflowName</key>
					<string>☑️ View Today's Tasks</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>☑️ View Today's Tasks</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>AB5CA3B5-3D0E-4517-905E-08A0182DCDDC</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>topic</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Productivity</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>DA7768DC-119C-49F8-97F3-404BEE807ACC</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>AB5CA3B5-3D0E-4517-905E-08A0182DCDDC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B9AD53B7-9843-4075-9386-FC80989F9C27</string>
					<key>workflowName</key>
					<string>Get Random Journal Prompt Item(s)</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Get Random Journal Prompt Item(s)</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6815510B-B533-4091-A10F-88084D81C6C2</string>
				<key>keyPath</key>
				<string>Text Divider</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A3E39FDD-82B2-4A1D-A578-777EA9C7C5D9</string>
				<key>WFItems</key>
				<array>
					<string>theme</string>
					<string>scene</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getitemfromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E269BC61-F192-440B-A7EF-D768B34BD2F9</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>List</string>
						<key>OutputUUID</key>
						<string>A3E39FDD-82B2-4A1D-A578-777EA9C7C5D9</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFItemSpecifier</key>
				<string>Random Item</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A3601A94-1CF4-442E-A8D2-193B6228C4A0</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{15, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Item from List</string>
								<key>OutputUUID</key>
								<string>E269BC61-F192-440B-A7EF-D768B34BD2F9</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{43, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>6815510B-B533-4091-A10F-88084D81C6C2</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{93, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>6815510B-B533-4091-A10F-88084D81C6C2</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{99, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>DA7768DC-119C-49F8-97F3-404BEE807ACC</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>🎯 What's the “￼” for the next 30 minutes?
￼
⚛️ Stick to ONE “project” for the entire block!
￼
🤔 “￼”</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
				<key>WFAlertActionMessage</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>A3601A94-1CF4-442E-A8D2-193B6228C4A0</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertActionTitle</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8F12A5D9-E518-4D35-BC65-9182F5DC65C7</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>D61A5E8D-FB4B-4944-AF1A-72FCE4804F77</string>
					<key>workflowName</key>
					<string>Ask If Connect to BLE Audio Device</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Ask If Connect to BLE Audio Device</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getdevicedetails</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>31FE7F54-B93E-4C4E-AE93-B3CC7D612CB0</string>
				<key>WFDeviceDetail</key>
				<string>Current Brightness</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setbrightness</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFBrightness</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0A9F454F-3C1F-46A2-81E1-AEC1CE3464A2</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Mac</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>65</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>iPhone</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>70</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>9A9E995A-2B89-492B-A8A6-E689620ED01D</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>Device Model</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>DeviceDetails</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>0A9F454F-3C1F-46A2-81E1-AEC1CE3464A2</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5A683FD4-E3AF-4CAF-9B48-238C0E56BAA8</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary Value</string>
						<key>OutputUUID</key>
						<string>9A9E995A-2B89-492B-A8A6-E689620ED01D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>AB097065-D7B3-4ABB-B419-DB35E710B6ED</string>
					<key>workflowName</key>
					<string>Percentage → Decimals</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Percentage → Decimals</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvolume</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVolume</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>5A683FD4-E3AF-4CAF-9B48-238C0E56BAA8</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F03A4DF9-9C44-434D-8A74-172E52F5B747</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>topic</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Prioritization</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>67E45910-7B71-4F08-9DC2-D7DD79F67392</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>F03A4DF9-9C44-434D-8A74-172E52F5B747</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B9AD53B7-9843-4075-9386-FC80989F9C27</string>
					<key>workflowName</key>
					<string>Get Random Journal Prompt(s)</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Get Random Journal Prompt(s)</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>DDF13A5F-5EF7-4E61-A37A-149792DA0BD2</string>
				<key>WFItems</key>
				<array>
					<string>Hey, listen and think carefully about these questions:</string>
					<string>What do I truly want to get done in the next 30 minutes? Why?</string>
					<string>Is this the one thing I should focus on right now? Why?</string>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>attachmentsByRange</key>
								<dict>
									<key>{0, 1}</key>
									<dict>
										<key>OutputName</key>
										<string>Shortcut Result</string>
										<key>OutputUUID</key>
										<string>67E45910-7B71-4F08-9DC2-D7DD79F67392</string>
										<key>Type</key>
										<string>ActionOutput</string>
									</dict>
								</dict>
								<key>string</key>
								<string>￼</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenString</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3EEE19A4-CBBF-4EB3-94F1-71899407B97B</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>text</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>List</string>
												<key>OutputUUID</key>
												<string>DDF13A5F-5EF7-4E61-A37A-149792DA0BD2</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>language</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>EN</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>wait</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>2</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0409FA7B-1E12-4DC8-BA2A-A86EB7CCB8BD</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>3EEE19A4-CBBF-4EB3-94F1-71899407B97B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>9E67FDF1-AE7E-4051-8D46-DDFD104CB87C</string>
					<key>workflowName</key>
					<string>_Text2Speech</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Text2Speech</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setbrightness</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFBrightness</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Current Brightness</string>
						<key>OutputUUID</key>
						<string>31FE7F54-B93E-4C4E-AE93-B3CC7D612CB0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4042.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
