<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>98A66F9B-F5E3-48D5-AB4C-2F437843A675</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>18BA5380-6508-48CF-A993-182B272BAD6C</string>
					<key>workflowName</key>
					<string>Get Random Visual</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Get Random Visual</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.base64encode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2780C022-D7ED-46AF-B77C-68391BB5FF88</string>
				<key>WFEncodeMode</key>
				<string>Decode</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>DictionaryKey</key>
								<string>visual</string>
								<key>Type</key>
								<string>WFDictionaryValueVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>98A66F9B-F5E3-48D5-AB4C-2F437843A675</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.overlaytext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>CEB4BE6B-307F-4068-8A24-3D97C0C3DF15</string>
				<key>WFFont</key>
				<dict>
					<key>WFFontDescriptorName</key>
					<string>ChalkboardSE-Light</string>
				</dict>
				<key>WFFontSize</key>
				<string>20</string>
				<key>WFImage</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Base64 Encoded</string>
						<key>OutputUUID</key>
						<string>2780C022-D7ED-46AF-B77C-68391BB5FF88</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFPercentageTextBoxWidth</key>
				<real>0.057640716433525085</real>
				<key>WFPercentageTextOffset</key>
				<real>0.048579946160316467</real>
				<key>WFSizingMethod</key>
				<string>Absolute</string>
				<key>WFText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>folderPath</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>98A66F9B-F5E3-48D5-AB4C-2F437843A675</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFTextAlignment</key>
				<string>Left</string>
				<key>WFTextColor</key>
				<dict>
					<key>WFColorRepresentationType</key>
					<string>WFColorRepresentationTypeCGColor</string>
					<key>alphaComponent</key>
					<real>1</real>
					<key>blueComponent</key>
					<real>0.18670153617858887</real>
					<key>greenComponent</key>
					<real>0.22760793566703796</real>
					<key>redComponent</key>
					<real>1.0004385709762573</real>
				</dict>
				<key>WFTextOffset</key>
				<string>25</string>
				<key>WFTextOutlineEnabled</key>
				<false/>
				<key>WFTextPosition</key>
				<string>Top Left</string>
				<key>WFTextRotation</key>
				<string>0</string>
				<key>WFTextStrokeColor</key>
				<dict>
					<key>WFColorRepresentationType</key>
					<string>WFColorRepresentationTypeCGColor</string>
					<key>alphaComponent</key>
					<real>1</real>
					<key>blueComponent</key>
					<real>0.99298602342605591</real>
					<key>greenComponent</key>
					<real>0.37862303853034973</real>
					<key>redComponent</key>
					<real>0.0028874238487333059</real>
				</dict>
				<key>WFTextStrokeWidth</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Image with Text</string>
								<key>OutputUUID</key>
								<string>CEB4BE6B-307F-4068-8A24-3D97C0C3DF15</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3303.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFImageContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
