<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>filepath</string>
				<key>UUID</key>
				<string>C46E397A-5F99-4715-A8B7-21E99D666A8B</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>F79DD319-050F-4ABD-994D-C881A27F9583</string>
					<key>workflowName</key>
					<string>_Get WMU File Path</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Get WMU File Path</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EE6F0D0D-7578-4ABB-8810-E24CDF252453</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filepath</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>filepath</string>
												<key>OutputUUID</key>
												<string>C46E397A-5F99-4715-A8B7-21E99D666A8B</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A3D60093-60FE-40A5-9D6E-BEC650AFAEEA</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>EE6F0D0D-7578-4ABB-8810-E24CDF252453</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>2EFCE47D-B1E1-4C88-AA1C-C455C2C13913</string>
					<key>workflowName</key>
					<string>(Batch) Open Obsidian Note(s)</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>(Batch) Open Obsidian Note(s)</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F6EC843B-23D6-4B72-AEC3-6B0C6C3C53CC</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFEnumeration</key>
				<string>macOS</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>OS</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>DeviceDetails</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>27C4FE8E-D6D5-45B4-87CB-ECF0507872A2</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>23E5B1F2-E5D6-4C31-9DC5-BBD20B3788E9</string>
					<key>workflowName</key>
					<string>Obsidian - Show File Properties</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Show File Properties</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Weekly-Mindware-Update</string>
				<key>UUID</key>
				<string>398F219F-3B0F-40B7-9FE7-F68ADFA8EC49</string>
				<key>WFFile</key>
				<dict>
					<key>displayName</key>
					<string>Weekly-Mindware-Update</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/3438C552-7900-4D1C-BDC5-E1CF43886E3B/29d958dbcf2f63cc9e41b5db4fd1bc1dde45d4ec</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/94C360DB-8C66-408D-8531-5552FAD57577</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/Weekly-Mindware-Update</string>
					</dict>
					<key>filename</key>
					<string>Weekly-Mindware-Update</string>
				</dict>
				<key>WFGetFilePath</key>
				<string>/</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.file.getfoldercontents</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Recursive</key>
				<true/>
				<key>UUID</key>
				<string>08D0DE81-7491-400B-913E-8EBD8B9BC066</string>
				<key>WFFolder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Weekly-Mindware-Update</string>
						<key>OutputUUID</key>
						<string>398F219F-3B0F-40B7-9FE7-F68ADFA8EC49</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1E0D8F91-1286-4ACC-BB20-4AE6D16E7C04</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>5</integer>
								<key>Property</key>
								<string>Name</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<string>README</string>
									<key>Unit</key>
									<integer>4</integer>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Get Contents of Folder</string>
						<key>OutputUUID</key>
						<string>08D0DE81-7491-400B-913E-8EBD8B9BC066</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFContentItemSortOrder</key>
				<string>Z to A</string>
				<key>WFContentItemSortProperty</key>
				<string>Name</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Files</string>
						<key>OutputUUID</key>
						<string>1E0D8F91-1286-4ACC-BB20-4AE6D16E7C04</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>B7B41E45-516A-4381-A2BE-DA44859D5F54</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A3359C47-A7D2-464E-862B-7CDF547B8141</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filepath</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>filepath</string>
												<key>OutputUUID</key>
												<string>C46E397A-5F99-4715-A8B7-21E99D666A8B</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>frontmatterKey</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>issue</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>issue</string>
				<key>UUID</key>
				<string>AFA89214-DB87-4B7A-9F3F-4360C743ADC8</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>A3359C47-A7D2-464E-862B-7CDF547B8141</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>DBE509B7-9571-4CCD-8213-4BADE9413C52</string>
					<key>workflowName</key>
					<string>_Read Markdown Frontmatter</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Read Markdown Frontmatter</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EA746A88-2FEF-4869-8337-E5EE70A65788</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filepath</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>filepath</string>
												<key>OutputUUID</key>
												<string>C46E397A-5F99-4715-A8B7-21E99D666A8B</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>frontmatterKey</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>title</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>title</string>
				<key>UUID</key>
				<string>A107045A-EF44-4A14-BA03-37219D77F8DC</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>EA746A88-2FEF-4869-8337-E5EE70A65788</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>DBE509B7-9571-4CCD-8213-4BADE9413C52</string>
					<key>workflowName</key>
					<string>_Read Markdown Frontmatter</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Read Markdown Frontmatter</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Text Divider</string>
				<key>UUID</key>
				<string>770F34F0-C704-4BFB-9B14-F210467B9DFA</string>
				<key>keyPath</key>
				<string>Text Divider</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>01F0C37A-ECF8-4652-8FC4-3416D04FBEC8</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text Divider</string>
								<key>OutputUUID</key>
								<string>770F34F0-C704-4BFB-9B14-F210467B9DFA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{5, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>title</string>
								<key>OutputUUID</key>
								<string>A107045A-EF44-4A14-BA03-37219D77F8DC</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{7, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text Divider</string>
								<key>OutputUUID</key>
								<string>770F34F0-C704-4BFB-9B14-F210467B9DFA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼
👉 ￼
￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
				<key>WFAlertActionMessage</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>01F0C37A-ECF8-4652-8FC4-3416D04FBEC8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertActionTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{19, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>issue</string>
								<key>OutputUUID</key>
								<string>AFA89214-DB87-4B7A-9F3F-4360C743ADC8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{23, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Count</string>
								<key>OutputUUID</key>
								<string>B7B41E45-516A-4381-A2BE-DA44859D5F54</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>🙌 This is issue # ￼ / ￼ of WMU</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>98D73294-E5F6-47DF-A0C6-F4397EEF15CC</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>F5EDF3D8-24B0-4F95-B57E-ED78D774BAA8</string>
					<key>workflowName</key>
					<string>Obsidian - Toggle Right Sidebar</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Toggle Right Sidebar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A6DB505C-D47C-4D34-B3C8-1A4FFFEE86C4</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>filepath</string>
						<key>OutputUUID</key>
						<string>C46E397A-5F99-4715-A8B7-21E99D666A8B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>6BD17801-7B40-4AE4-9D98-76537FC64E87</string>
					<key>workflowName</key>
					<string>Obsidian - Close Specific Tab(s) By Filepath</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Obsidian - Close Specific Tab(s) By Filepath</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getitemfromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>CA1DBD9A-9B41-4092-863D-909F259BAB2A</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Files</string>
						<key>OutputUUID</key>
						<string>1E0D8F91-1286-4ACC-BB20-4AE6D16E7C04</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.properties.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2BB1F3E3-EED4-4CC7-8EEB-8FC93996E6F4</string>
				<key>WFContentItemPropertyName</key>
				<string>Name</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Item from List</string>
						<key>OutputUUID</key>
						<string>CA1DBD9A-9B41-4092-863D-909F259BAB2A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B3C772EA-3793-44AC-B9E3-DC8F73793103</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Name</string>
								<key>OutputUUID</key>
								<string>2BB1F3E3-EED4-4CC7-8EEB-8FC93996E6F4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>filepath</string>
							<key>OutputUUID</key>
							<string>C46E397A-5F99-4715-A8B7-21E99D666A8B</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>AF058373-DD70-4441-86C6-70C3B6991451</string>
				<key>WFFile</key>
				<dict>
					<key>displayName</key>
					<string>Second-Brain</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/605C0ACE-E417-46F1-92D6-DCE07191E691/cd3551b64a22879ecb35ed82e0b007ce35786f8e</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/94C360DB-8C66-408D-8531-5552FAD57577</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain</string>
					</dict>
					<key>filename</key>
					<string>Second-Brain</string>
				</dict>
				<key>WFGetFilePath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>filepath</string>
								<key>OutputUUID</key>
								<string>C46E397A-5F99-4715-A8B7-21E99D666A8B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.split</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>DE7CCC89-0242-4B6D-AE13-5A005EC9DAA9</string>
				<key>WFTextCustomSeparator</key>
				<string>—</string>
				<key>WFTextSeparator</key>
				<string>Custom</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>File</string>
						<key>OutputUUID</key>
						<string>AF058373-DD70-4441-86C6-70C3B6991451</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getitemfromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5D7B63A0-D7CA-4852-877D-1D92A68BDCFC</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Split Text</string>
						<key>OutputUUID</key>
						<string>DE7CCC89-0242-4B6D-AE13-5A005EC9DAA9</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFItemSpecifier</key>
				<string>Last Item</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.trimwhitespace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>86383755-01E1-4DD9-87E3-29DE3AC142E9</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Item from List</string>
								<key>OutputUUID</key>
								<string>5D7B63A0-D7CA-4852-877D-1D92A68BDCFC</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4B82086E-B485-4681-A3E1-54520876418D</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>title</string>
								<key>OutputUUID</key>
								<string>A107045A-EF44-4A14-BA03-37219D77F8DC</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Updated Text</string>
								<key>OutputUUID</key>
								<string>86383755-01E1-4DD9-87E3-29DE3AC142E9</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼
￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>CC5A0B03-0A35-47A9-853C-7E990EEE38D4</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{100, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>4B82086E-B485-4681-A3E1-54520876418D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>File Path</string>
										<key>PropertyUserInfo</key>
										<dict/>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Weekly-Mindware-Update</string>
								<key>OutputUUID</key>
								<string>398F219F-3B0F-40B7-9FE7-F68ADFA8EC49</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{60, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>issue</string>
								<key>OutputUUID</key>
								<string>AFA89214-DB87-4B7A-9F3F-4360C743ADC8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{63, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>title</string>
								<key>OutputUUID</key>
								<string>A107045A-EF44-4A14-BA03-37219D77F8DC</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{93, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>issue</string>
								<key>OutputUUID</key>
								<string>AFA89214-DB87-4B7A-9F3F-4360C743ADC8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>cd "￼"
git up
git add .
git commit -m "docs: release issue #￼ (￼)"
git tag --annotate "issue-￼" -m "￼"
git push origin main
git push origin --tags</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0F4E9C63-2F3F-4040-A045-500B585AE08F</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>CC5A0B03-0A35-47A9-853C-7E990EEE38D4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>ADA5B0ED-A3C6-48E0-ADDA-DE12E3E9D677</string>
					<key>workflowName</key>
					<string>Template - Run Commands in Terminal</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Template - Run Commands in Terminal</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A11553A4-A676-4095-8AD0-6877F8A1A644</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>99</integer>
								<key>Property</key>
								<string>Title</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{5, 1}</key>
												<dict>
													<key>OutputName</key>
													<string>issue</string>
													<key>OutputUUID</key>
													<string>AFA89214-DB87-4B7A-9F3F-4360C743ADC8</string>
													<key>Type</key>
													<string>ActionOutput</string>
												</dict>
											</dict>
											<key>string</key>
											<string>WMU #￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Is Completed</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<string>Library</string>
				<key>WFContentItemLimitEnabled</key>
				<true/>
				<key>WFContentItemLimitNumber</key>
				<real>1</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>05C46AAC-BB5D-49A7-A222-B7F2C16C96B5</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Reminders</string>
							<key>OutputUUID</key>
							<string>A11553A4-A676-4095-8AD0-6877F8A1A644</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>F1C5F85E-574E-4445-A136-63207C915E2B</string>
				<key>WFContentItemPropertyName</key>
				<string>Is Completed</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reminders</string>
						<key>OutputUUID</key>
						<string>A11553A4-A676-4095-8AD0-6877F8A1A644</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemIsCompleted</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>05C46AAC-BB5D-49A7-A222-B7F2C16C96B5</string>
				<key>UUID</key>
				<string>9673B10D-162A-449B-ABC7-5BB05604DD50</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A065D1EC-AFCC-458E-A92A-EA30100FA5B5</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text Divider</string>
								<key>OutputUUID</key>
								<string>770F34F0-C704-4BFB-9B14-F210467B9DFA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{14, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text Divider</string>
								<key>OutputUUID</key>
								<string>770F34F0-C704-4BFB-9B14-F210467B9DFA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{23, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>issue</string>
								<key>OutputUUID</key>
								<string>AFA89214-DB87-4B7A-9F3F-4360C743ADC8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{26, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>title</string>
								<key>OutputUUID</key>
								<string>A107045A-EF44-4A14-BA03-37219D77F8DC</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼
✅ Complete!
￼
Issue #￼ (￼)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.notification</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E1DA4278-5391-4319-860A-817121E266B2</string>
				<key>WFNotificationActionBody</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>A065D1EC-AFCC-458E-A92A-EA30100FA5B5</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFNotificationActionSound</key>
				<true/>
				<key>WFNotificationActionTitle</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B3C772EA-3793-44AC-B9E3-DC8F73793103</string>
				<key>UUID</key>
				<string>31944F5E-4EA3-48A0-BD54-19246D4E9915</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F6EC843B-23D6-4B72-AEC3-6B0C6C3C53CC</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3303.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFStringContentItem</string>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>NCWidget</string>
	</array>
</dict>
</plist>
