<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>https://sunrise-sunset.org/api</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getcurrentlocation</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>084E5BCF-1B14-4509-B22F-D20D7B50B41B</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>47B807EE-9996-4EF1-B4A7-5FD7B2010929</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>D5EF1062-8F31-4AB8-8B78-FF7A7CA9D865</string>
					<key>workflowName</key>
					<string>Get Time Zone Data</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Get Time Zone Data</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B8C17B11-7E67-4B2B-AEB0-9FD26548403B</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{40, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>Latitude</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Current Location</string>
								<key>OutputUUID</key>
								<string>084E5BCF-1B14-4509-B22F-D20D7B50B41B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{46, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>Longitude</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Current Location</string>
								<key>OutputUUID</key>
								<string>084E5BCF-1B14-4509-B22F-D20D7B50B41B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{53, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDateContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
							<key>{60, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>timeZoneId</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>47B807EE-9996-4EF1-B4A7-5FD7B2010929</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>https://api.sunrise-sunset.org/json?lat=￼&amp;lng=￼&amp;date=￼&amp;tzid=￼&amp;formatted=0</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>results</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Contents of URL</string>
								<key>OutputUUID</key>
								<string>B8C17B11-7E67-4B2B-AEB0-9FD26548403B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4046.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFDateContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFDateContentItem</string>
			<key>SerializedParameters</key>
			<dict>
				<key>WFDateActionDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Ask</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateActionMode</key>
				<string>Specified Date</string>
			</dict>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
		<string>WFDictionaryContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFNumberContentItem</string>
		<string>WFBooleanContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
