<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4914C194-01B0-4A67-B7BF-8B1910CBF180</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFEnumeration</key>
				<string>macOS</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>OS</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>DeviceDetails</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>57430675-0049-4496-8975-484180E76660</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>62486A0E-5C10-4249-9B8A-7A7DEDDD8A74</string>
					<key>workflowName</key>
					<string>getWeekNumber1</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getWeekNumber1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.math</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8E8E54CC-3FBC-449D-BCC0-2B02FA9E9BA7</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>57430675-0049-4496-8975-484180E76660</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFMathOperation</key>
				<string>…</string>
				<key>WFScientificMathOperand</key>
				<string>2</string>
				<key>WFScientificMathOperation</key>
				<string>Modulus</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>E3616F2D-92DE-4167-AB9E-10CDB2468C36</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFBooleanContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Calculation Result</string>
							<key>OutputUUID</key>
							<string>8E8E54CC-3FBC-449D-BCC0-2B02FA9E9BA7</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>dayOfWeek</string>
				<key>UUID</key>
				<string>07466AC6-CC42-49D9-AD51-02D8F2DF92CB</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>64352340-E70F-4D72-8B10-9DCD65333E32</string>
					<key>workflowName</key>
					<string>getDayOfWeek</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getDayOfWeek</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2E1AE0AC-6268-4FFE-911A-C8A542DDBC63</string>
				<key>UUID</key>
				<string>2D748C85-A266-4435-9506-A987600CD79F</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>Sunday</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>dayOfWeek</string>
							<key>OutputUUID</key>
							<string>07466AC6-CC42-49D9-AD51-02D8F2DF92CB</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>keyPath</string>
				<key>UUID</key>
				<string>1818F30D-B151-48E9-B774-CA6C15F04F04</string>
				<key>WFTextActionText</key>
				<string>My Apple Shortcuts.shortcutLastRunTime.Shortcutomation - Show Your Work</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1CF61816-FAD4-4B58-A9FA-BB511FB3DF50</string>
				<key>keyPath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>keyPath</string>
								<key>OutputUUID</key>
								<string>1818F30D-B151-48E9-B774-CA6C15F04F04</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B9984416-4F79-4CC2-84D6-1209B4393531</string>
				<key>WFCondition</key>
				<integer>5</integer>
				<key>WFConditionalActionString</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>CoercionItemClass</key>
									<string>WFDateContentItem</string>
									<key>Type</key>
									<string>WFCoercionVariableAggrandizement</string>
								</dict>
								<dict>
									<key>Type</key>
									<string>WFDateFormatVariableAggrandizement</string>
									<key>WFDateFormatStyle</key>
									<string>ISO 8601</string>
									<key>WFISO8601IncludeTime</key>
									<false/>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Value</string>
							<key>OutputUUID</key>
							<string>1CF61816-FAD4-4B58-A9FA-BB511FB3DF50</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>My Apple Shortcuts.backup</string>
				<key>UUID</key>
				<string>2A90C95D-42AC-4EEE-917F-154CF7990249</string>
				<key>WFTextActionText</key>
				<string>My Apple Shortcuts.backup</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EDCB1988-07F6-432D-A397-DE1C116DE08B</string>
				<key>keyPath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>My Apple Shortcuts.backup</string>
								<key>OutputUUID</key>
								<string>2A90C95D-42AC-4EEE-917F-154CF7990249</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼.thisUpdateSnapshot</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D89A7EEF-0EC2-482C-8D97-CA5B4AF1FE42</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>FE0BC520-92F0-4867-9291-1CF31F6AD95D</string>
					<key>workflowName</key>
					<string>Get Shortcuts Library Custom Folders</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Get Shortcuts Library Custom Folders</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>9215D82A-8941-4EE5-B237-DBF95FEEFF47</string>
				<key>keyPath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>My Apple Shortcuts.backup</string>
								<key>OutputUUID</key>
								<string>2A90C95D-42AC-4EEE-917F-154CF7990249</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼.ignoredFolders</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.TransformListsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>TransformListsIntent</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>CustomOutputName</key>
				<string>filteredFolders</string>
				<key>UUID</key>
				<string>88E256E1-2DBC-47C6-BCE4-6288422BE459</string>
				<key>list1</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>D89A7EEF-0EC2-482C-8D97-CA5B4AF1FE42</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>list2</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Value</string>
						<key>OutputUUID</key>
						<string>9215D82A-8941-4EE5-B237-DBF95FEEFF47</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>type</key>
				<string>subtraction</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>E80E54BE-B3DE-40CE-978A-A8C9489483E8</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>Name</string>
								<key>PropertyUserInfo</key>
								<string>WFItemName</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>filteredFolders</string>
						<key>OutputUUID</key>
						<string>88E256E1-2DBC-47C6-BCE4-6288422BE459</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getmyworkflows</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Folder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>8099A867-29C3-49D2-9D7B-6340A86F97CE</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>E80E54BE-B3DE-40CE-978A-A8C9489483E8</string>
				<key>UUID</key>
				<string>3BF15465-22CB-4CC1-87C9-A279CEC1CB5E</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.TransformListsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>TransformListsIntent</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>CustomOutputName</key>
				<string>newShortcuts</string>
				<key>UUID</key>
				<string>44DA0C20-A7CA-4E69-AA2F-E6D021A2BE32</string>
				<key>list1</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>Name</string>
								<key>PropertyUserInfo</key>
								<string>WFItemName</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Repeat Results</string>
						<key>OutputUUID</key>
						<string>3BF15465-22CB-4CC1-87C9-A279CEC1CB5E</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>list2</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>Name</string>
								<key>PropertyUserInfo</key>
								<string>WFItemName</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Value</string>
						<key>OutputUUID</key>
						<string>EDCB1988-07F6-432D-A397-DE1C116DE08B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>type</key>
				<string>subtraction</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>96298599-55F7-4CE4-A144-3F8ADBB9D506</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFConditionalActionString</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Repeat Results</string>
								<key>OutputUUID</key>
								<string>3BF15465-22CB-4CC1-87C9-A279CEC1CB5E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>newShortcuts</string>
							<key>OutputUUID</key>
							<string>44DA0C20-A7CA-4E69-AA2F-E6D021A2BE32</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFNumberValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Count</string>
						<key>OutputUUID</key>
						<string>B518ED63-ED17-4294-8614-815FCFAE10FC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>💾 Backup My Shortcuts Library</string>
				<key>UUID</key>
				<string>7926DBD1-38E1-4D02-ADE6-88456067B1E4</string>
				<key>WFTextActionText</key>
				<string>💾 Backup My Shortcuts Library</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1C8C5138-75E4-4B5C-A64A-8A3E25C34089</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>List</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Enumeration</key>
									<dict>
										<key>Value</key>
										<string>🏛️ LifeOS</string>
										<key>WFSerializationType</key>
										<string>WFStringSubstitutableState</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Title</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>OutputName</key>
													<string>💾 Backup My Shortcuts Library</string>
													<key>OutputUUID</key>
													<string>7926DBD1-38E1-4D02-ADE6-88456067B1E4</string>
													<key>Type</key>
													<string>ActionOutput</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Is Completed</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>5</integer>
								<key>Property</key>
								<string>Completion Date</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Date</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Type</key>
											<string>CurrentDate</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenAttachment</string>
									</dict>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C0475AE8-94C2-46D2-971F-AFEB56E15767</string>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Reminders</string>
							<key>OutputUUID</key>
							<string>1C8C5138-75E4-4B5C-A64A-8A3E25C34089</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>10A4F149-6317-4D4F-A460-B48CCA78E989</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>💾 Backup My Shortcuts Library</string>
						<key>OutputUUID</key>
						<string>7926DBD1-38E1-4D02-ADE6-88456067B1E4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>A4D0829E-EC6C-4E7E-8088-6EBD82EA8061</string>
					<key>workflowName</key>
					<string>Build Run Shortcut URL</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Build Run Shortcut URL</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>12A04036-5683-4BAC-AC9F-1112E3CE6830</string>
				<key>WFAlertCustomTime</key>
				<string>Today</string>
				<key>WFAlertEnabled</key>
				<string>Alert</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS</string>
				<key>WFCalendarItemNotes</key>
				<string></string>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>💾 Backup My Shortcuts Library</string>
								<key>OutputUUID</key>
								<string>7926DBD1-38E1-4D02-ADE6-88456067B1E4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFPriority</key>
				<string>None</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>10A4F149-6317-4D4F-A460-B48CCA78E989</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>year</string>
				<key>UUID</key>
				<string>A7D04056-BD4D-4111-96CE-BC02A7DFBD06</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormat</key>
				<string>yyyy</string>
				<key>WFDateFormatStyle</key>
				<string>Custom</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>weekNumber</string>
				<key>UUID</key>
				<string>045AC954-3CCF-4018-807C-32475ECAA623</string>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>62486A0E-5C10-4249-9B8A-7A7DEDDD8A74</string>
					<key>workflowName</key>
					<string>getWeekNumber1</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>getWeekNumber1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>366BBDEF-B9F9-424A-BEF7-B8B432831DFF</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{1, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>year</string>
								<key>OutputUUID</key>
								<string>A7D04056-BD4D-4111-96CE-BC02A7DFBD06</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{8, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>weekNumber</string>
								<key>OutputUUID</key>
								<string>045AC954-3CCF-4018-807C-32475ECAA623</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>"￼.Week.￼"</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F6BACF3E-B5AB-46A8-86B6-71C30945FA85</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{23, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>366BBDEF-B9F9-424A-BEF7-B8B432831DFF</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{57, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>366BBDEF-B9F9-424A-BEF7-B8B432831DFF</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>git undo &amp;&amp; git tag -d ￼ &amp;&amp; git push origin --delete tag ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>12A04036-5683-4BAC-AC9F-1112E3CE6830</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>37E73D9B-BD99-4A1E-919F-ABF66B643096</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>PropertyName</key>
								<string>Name</string>
								<key>PropertyUserInfo</key>
								<string>WFItemName</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>newShortcuts</string>
						<key>OutputUUID</key>
						<string>44DA0C20-A7CA-4E69-AA2F-E6D021A2BE32</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8AF0C856-32B0-4638-8D7D-87C7C54BF7CA</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Index</string>
							</dict>
							<key>{3, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼. ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>37E73D9B-BD99-4A1E-919F-ABF66B643096</string>
				<key>UUID</key>
				<string>DBFE55AC-2AB7-49C9-B652-6F1325279278</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>newShortcuts</string>
						<key>OutputUUID</key>
						<string>44DA0C20-A7CA-4E69-AA2F-E6D021A2BE32</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>C0B3DE36-E88A-43B9-B95E-7FA7F75DBA15</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.PluraliseIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>63BBD137-0742-4A15-9473-5BDC8AE7753E</string>
				<key>count</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>newShortcuts</string>
						<key>OutputUUID</key>
						<string>44DA0C20-A7CA-4E69-AA2F-E6D021A2BE32</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>countType</key>
				<string>items</string>
				<key>items</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>newShortcuts</string>
						<key>OutputUUID</key>
						<string>44DA0C20-A7CA-4E69-AA2F-E6D021A2BE32</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>output</key>
				<string>numberDigit</string>
				<key>typeCase</key>
				<string>title</string>
				<key>word</key>
				<string>New Shortcut</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.addnewreminder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E434CB60-58EC-4BD6-BB5A-A596B14D4262</string>
				<key>WFCalendarDescriptor</key>
				<dict>
					<key>Identifier</key>
					<string>&lt;x-apple-reminderkit://REMCDList/1E8226AF-52CC-43E2-AD89-0E9010ACA706&gt;</string>
					<key>IsAllCalendar</key>
					<false/>
					<key>Title</key>
					<string>🏛️ LifeOS Maintenance</string>
				</dict>
				<key>WFCalendarItemCalendar</key>
				<string>🏛️ LifeOS Maintenance</string>
				<key>WFCalendarItemNotes</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Repeat Results</string>
								<key>OutputUUID</key>
								<string>DBFE55AC-2AB7-49C9-B652-6F1325279278</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFCalendarItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Pluralised Result</string>
								<key>OutputUUID</key>
								<string>63BBD137-0742-4A15-9473-5BDC8AE7753E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFParentTask</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>New Reminder</string>
						<key>OutputUUID</key>
						<string>12A04036-5683-4BAC-AC9F-1112E3CE6830</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C0475AE8-94C2-46D2-971F-AFEB56E15767</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>96298599-55F7-4CE4-A144-3F8ADBB9D506</string>
				<key>UUID</key>
				<string>6C8FFAC4-8471-4C17-92ED-6E0D09A0E486</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C2447C6D-EEA0-4504-A3FF-3799D916DD4B</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.SetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EC985388-F00C-4471-8A86-87C4CEB9328F</string>
				<key>keyPath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>keyPath</string>
								<key>OutputUUID</key>
								<string>1818F30D-B151-48E9-B774-CA6C15F04F04</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>overwriteStrategy</key>
				<string>alwaysAllow</string>
				<key>valueConversionMode</key>
				<string>text</string>
				<key>values</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Date</string>
						<key>OutputUUID</key>
						<string>C2447C6D-EEA0-4504-A3FF-3799D916DD4B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B9984416-4F79-4CC2-84D6-1209B4393531</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2E1AE0AC-6268-4FFE-911A-C8A542DDBC63</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>E3616F2D-92DE-4167-AB9E-10CDB2468C36</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4914C194-01B0-4A67-B7BF-8B1910CBF180</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3612.0.2.1</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>-1448498689</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
