<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>266DCE7E-83BC-403D-B5C3-CCB370943ADC</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>ExtensionInput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>attachments</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>266DCE7E-83BC-403D-B5C3-CCB370943ADC</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.ScanDocumentsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>ScanDocumentsIntent</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>D181BA64-53FC-44F4-A46D-6318B9BEAA6E</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.waittoreturn</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Clipboard</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>attachments</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>266DCE7E-83BC-403D-B5C3-CCB370943ADC</string>
				<key>UUID</key>
				<string>FEF12483-61AA-469B-AEB5-66B0CABD9C5F</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>70D10F60-0CCD-40A8-97F7-3004CB501D3E</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>attachments</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5D185A95-265E-4C65-BFF3-A44C3E19E3BA</string>
				<key>WFMatchTextPattern</key>
				<string>reddit.*com.*comments</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>20D6F88C-9DA0-43D0-96BF-22EA537EF516</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFConditionalActionString</key>
				<string>reddit.com</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Matches</string>
							<key>OutputUUID</key>
							<string>5D185A95-265E-4C65-BFF3-A44C3E19E3BA</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.link</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7B5022A7-B233-4859-A0C9-4EE7820E3DEB</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5C317A80-E266-4978-BB8A-51FF41743A05</string>
				<key>WFMatchTextPattern</key>
				<string>/comments/([^/?]+)</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>URLs</string>
								<key>OutputUUID</key>
								<string>7B5022A7-B233-4859-A0C9-4EE7820E3DEB</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match.getgroup</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4FA74FF6-593E-4FFB-BD4A-3A4FC630CE4B</string>
				<key>matches</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Matches</string>
						<key>OutputUUID</key>
						<string>5C317A80-E266-4978-BB8A-51FF41743A05</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>• https://www.reddit.com/dev/api/#fullnames
• https://www.reddit.com/dev/api/#GET_api_info</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C8E3506D-F8E0-46AF-B737-5D37CB490E0D</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{43, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>4FA74FF6-593E-4FFB-BD4A-3A4FC630CE4B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>https://www.reddit.com/api/info.json?id=t3_￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getrichtextfromhtml</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>28A65350-2C20-4C65-AD9A-16362119927C</string>
				<key>WFHTML</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>DictionaryKey</key>
								<string>data.children.1.data.preview.images.1.source.url</string>
								<key>Type</key>
								<string>WFDictionaryValueVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Contents of URL</string>
						<key>OutputUUID</key>
						<string>C8E3506D-F8E0-46AF-B737-5D37CB490E0D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>19F5D7E5-5A92-4F3F-8A6D-7C0EDC36A4A0</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{27, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>data.children.1.data.subreddit_name_prefixed</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Contents of URL</string>
								<key>OutputUUID</key>
								<string>C8E3506D-F8E0-46AF-B737-5D37CB490E0D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{30, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>data.children.1.data.title</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Contents of URL</string>
								<key>OutputUUID</key>
								<string>C8E3506D-F8E0-46AF-B737-5D37CB490E0D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{33, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>URLs</string>
								<key>OutputUUID</key>
								<string>7B5022A7-B233-4859-A0C9-4EE7820E3DEB</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{6, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Rich Text from HTML</string>
								<key>OutputUUID</key>
								<string>28A65350-2C20-4C65-AD9A-16362119927C</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>| ![](￼) |
| :-: |
| &lt;sub&gt;[￼: ￼](￼)&lt;/sub&gt; |</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>20D6F88C-9DA0-43D0-96BF-22EA537EF516</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>67B10FC3-91EB-4A31-AC0A-1E2B18A6F225</string>
				<key>WFCondition</key>
				<integer>8</integer>
				<key>WFConditionalActionString</key>
				<string>http</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>Name</string>
									<key>PropertyUserInfo</key>
									<string>WFItemName</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Repeat Item</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.DownloadFileIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>DownloadFileIntent</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>F3F33139-9E02-485E-92CB-6996F6F684D2</string>
				<key>url</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.images</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3098F553-012C-4641-87D2-6F6C8775A8A1</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Downloaded File</string>
						<key>OutputUUID</key>
						<string>F3F33139-9E02-485E-92CB-6996F6F684D2</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>67B10FC3-91EB-4A31-AC0A-1E2B18A6F225</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.images</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FA166EB7-5E8D-4905-B89F-D40028233005</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>67B10FC3-91EB-4A31-AC0A-1E2B18A6F225</string>
				<key>UUID</key>
				<string>6ABFC69C-80F8-4BEF-9959-CDD029033061</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>filename</string>
				<key>UUID</key>
				<string>C84D511D-C146-4719-B44F-891938BAE9BE</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>yyyy_MM_dd_HH_mm_ss</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>PropertyName</key>
										<string>File Extension</string>
										<key>PropertyUserInfo</key>
										<string>WFFileExtensionProperty</string>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
									</dict>
								</array>
								<key>OutputName</key>
								<string>If Result</string>
								<key>OutputUUID</key>
								<string>6ABFC69C-80F8-4BEF-9959-CDD029033061</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setitemname</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A32FFA64-5B6F-4ED7-9D29-ADB38255262D</string>
				<key>WFDontIncludeFileExtension</key>
				<false/>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>If Result</string>
						<key>OutputUUID</key>
						<string>6ABFC69C-80F8-4BEF-9959-CDD029033061</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFName</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>filename</string>
								<key>OutputUUID</key>
								<string>C84D511D-C146-4719-B44F-891938BAE9BE</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.file.createfolder</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>447CF0CA-72BB-4181-AAF9-97297CA474AB</string>
				<key>WFFilePath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>yyyy/MM-MMMM</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>CurrentDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼/_attachments</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFFolder</key>
				<dict>
					<key>displayName</key>
					<string>journals</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/737C59D7-EE90-4A01-918C-AFEB0E5FB45F/b504d873ae7e0b70b98b656b83c8fb0eaae64c92</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/BCF96BB5-C0C4-44A7-8C03-2D21A4ABEB46</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/Daily-Bullet-Journal/journals</string>
					</dict>
					<key>filename</key>
					<string>journals</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.save</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D10F11C4-AC99-461E-9B0E-12A69A335CC6</string>
				<key>WFAskWhereToSave</key>
				<false/>
				<key>WFFolder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Created Folder</string>
						<key>OutputUUID</key>
						<string>447CF0CA-72BB-4181-AAF9-97297CA474AB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Renamed Item</string>
						<key>OutputUUID</key>
						<string>A32FFA64-5B6F-4ED7-9D29-ADB38255262D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>935E7231-1C16-4D0A-BF5D-389B71A8186B</string>
				<key>WFCondition</key>
				<integer>8</integer>
				<key>WFConditionalActionString</key>
				<string>http</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>Name</string>
									<key>PropertyUserInfo</key>
									<string>WFItemName</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>Repeat Item</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6FE26E84-35E6-4ACE-914E-249843FDACBE</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{19, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>filename</string>
								<key>OutputUUID</key>
								<string>C84D511D-C146-4719-B44F-891938BAE9BE</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{48, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>| ![](_attachments/￼) |
| :-: |
| &lt;sub&gt;[Source](￼)&lt;/sub&gt; |</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>935E7231-1C16-4D0A-BF5D-389B71A8186B</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>25C69802-1E25-4993-97C9-9CB2428D91E4</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{17, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>filename</string>
								<key>OutputUUID</key>
								<string>C84D511D-C146-4719-B44F-891938BAE9BE</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>![](_attachments/￼)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>935E7231-1C16-4D0A-BF5D-389B71A8186B</string>
				<key>UUID</key>
				<string>0C30054C-17FA-4FA3-9EAC-4EC77201777A</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>20D6F88C-9DA0-43D0-96BF-22EA537EF516</string>
				<key>UUID</key>
				<string>E36A21FF-5482-4365-8ADF-C84A99F01888</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4CAA72A3-66E2-4E0D-97F0-006E8E8BF521</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>If Result</string>
						<key>OutputUUID</key>
						<string>E36A21FF-5482-4365-8ADF-C84A99F01888</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>5BAE1DA2-FC30-4FFA-9A44-466C405DA925</string>
					<key>workflowName</key>
					<string>✍️ Log Journal</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>✍️ Log Journal</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>70D10F60-0CCD-40A8-97F7-3004CB501D3E</string>
				<key>UUID</key>
				<string>C8B7053F-5A34-4175-8605-59F82CCA624B</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4610</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFImageContentItem</string>
		<string>WFURLContentItem</string>
		<string>WFSafariWebPageContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1106</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1106</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>ActionExtension</string>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
