<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0BDD8260-B343-4D53-AF90-1E3D2FC9814A</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>BD897E87-A0A3-4C4F-9296-86FC041FBA38</string>
					<key>workflowName</key>
					<string>Template - Folder Shortcuts Header</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Template - Folder Shortcuts Header</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getdevicedetails</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A7E65C7E-505F-48A8-A6D8-95D546A33FC8</string>
				<key>WFDeviceDetail</key>
				<string>Current Brightness</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setbrightness</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFBrightness</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.reminders.showlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>92F7C263-7C18-495E-8913-E49A17313DAF</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>CurrentDate</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B3AF913E-4457-41D4-9FFF-A54E26346220</string>
					<key>workflowName</key>
					<string>Get Inbox Reminders</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Get Inbox Reminders</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>92F7C263-7C18-495E-8913-E49A17313DAF</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>7CBF7FBA-4CB6-453C-97B8-FE6837E4A699</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setbrightness</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFBrightness</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Current Brightness</string>
						<key>OutputUUID</key>
						<string>A7E65C7E-505F-48A8-A6D8-95D546A33FC8</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C7149C4C-13A7-4630-B298-E324DBE48B68</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>92F7C263-7C18-495E-8913-E49A17313DAF</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.vibrate</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setitemname</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8567D559-6A63-4A9E-AB07-97581258B5BD</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFName</key>
				<string>‏‎</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.previewdocument</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Renamed Item</string>
						<key>OutputUUID</key>
						<string>8567D559-6A63-4A9E-AB07-97581258B5BD</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>05532A61-16F1-48E2-AD2B-AA560AA63B75</string>
				<key>keyPath</key>
				<string>Text Divider</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>CFBAC103-5EB8-4B23-8A87-C27B6B68F433</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{1, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Index</string>
							</dict>
							<key>{5, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Count</string>
								<key>OutputUUID</key>
								<string>7CBF7FBA-4CB6-453C-97B8-FE6837E4A699</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{7, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Value</string>
								<key>OutputUUID</key>
								<string>05532A61-16F1-48E2-AD2B-AA560AA63B75</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>▍￼ / ￼
￼
🤖 Which one?</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFMenuItems</key>
				<array>
					<string>📥 Add to Reminder List</string>
					<string>🗃️ Export to Second Brain</string>
					<string>📝 Log to Journal</string>
					<string>📋 Copy to Clipboard</string>
					<string>📣 Share with Others</string>
					<string>✅ Mark as Completed</string>
					<string>⏩ Skip</string>
				</array>
				<key>WFMenuPrompt</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>CFBAC103-5EB8-4B23-8A87-C27B6B68F433</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>📥 Add to Reminder List</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.GetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>55A2CF1D-DB4E-4A3B-862D-9E9A6CA8C0CE</string>
				<key>keyPath</key>
				<string>Leading Symbol for Inbox Automation</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.files</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8501BCD1-5EB0-4E70-A2C0-C0599106E128</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>999</integer>
								<key>Property</key>
								<string>Name</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<string>Fleeting Notes</string>
									<key>Unit</key>
									<integer>4</integer>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
				<key>WFContentItemInputParameter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>PropertyName</key>
								<string>Values</string>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
							</dict>
						</array>
						<key>OutputName</key>
						<string>Value</string>
						<key>OutputUUID</key>
						<string>55A2CF1D-DB4E-4A3B-862D-9E9A6CA8C0CE</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ED2E9112-4710-4867-A272-BC39F3C3D437</string>
				<key>WFItems</key>
				<array>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>attachmentsByRange</key>
								<dict>
									<key>{0, 1}</key>
									<dict>
										<key>OutputName</key>
										<string>Files</string>
										<key>OutputUUID</key>
										<string>8501BCD1-5EB0-4E70-A2C0-C0599106E128</string>
										<key>Type</key>
										<string>ActionOutput</string>
									</dict>
								</dict>
								<key>string</key>
								<string>￼</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenString</string>
						</dict>
					</dict>
					<string>🗂️ Reminder List</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>38C7434F-4EC9-41D2-826D-87DFB5E0ADEE</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which one?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>List</string>
						<key>OutputUUID</key>
						<string>ED2E9112-4710-4867-A272-BC39F3C3D437</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>63244052-3D38-4B59-BAAB-A6E4D0788731</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Reminder List</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>Name</string>
									<key>PropertyUserInfo</key>
									<string>WFItemName</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Selected Item</string>
							<key>OutputUUID</key>
							<string>38C7434F-4EC9-41D2-826D-87DFB5E0ADEE</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F84B28EC-E863-474A-9311-C5C6FEDC0F4D</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>8C70B6D1-9040-482A-BE98-056B3BC29C6E</string>
					<key>workflowName</key>
					<string>_Add to AReminders</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Add to AReminders</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>63244052-3D38-4B59-BAAB-A6E4D0788731</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>BDC7AF8B-BDB6-4857-A12C-AE0DA29AFFFC</string>
				<key>WFContentItemPropertyName</key>
				<string>List</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemList</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Selected Item</string>
						<key>OutputUUID</key>
						<string>38C7434F-4EC9-41D2-826D-87DFB5E0ADEE</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemParentReminder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reminders</string>
						<key>OutputUUID</key>
						<string>F736682F-2BBF-467D-89AC-A6D1B14A74BA</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>48CAC654-0CDB-43FA-A95A-360F04D4C1F8</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>Journal Backlog</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>Name</string>
									<key>PropertyUserInfo</key>
									<string>WFItemName</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>OutputName</key>
							<string>Selected Item</string>
							<key>OutputUUID</key>
							<string>38C7434F-4EC9-41D2-826D-87DFB5E0ADEE</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>30C477C5-0252-4E8B-BD17-34F6AC72E2E5</string>
				<key>WFContentItemPropertyName</key>
				<string>Is Flagged</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Edited Reminder</string>
						<key>OutputUUID</key>
						<string>BDC7AF8B-BDB6-4857-A12C-AE0DA29AFFFC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemIsFlagged</key>
				<integer>1</integer>
				<key>WFReminderContentItemList</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Selected Item</string>
						<key>OutputUUID</key>
						<string>38C7434F-4EC9-41D2-826D-87DFB5E0ADEE</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemParentReminder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reminders</string>
						<key>OutputUUID</key>
						<string>F736682F-2BBF-467D-89AC-A6D1B14A74BA</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>48CAC654-0CDB-43FA-A95A-360F04D4C1F8</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C1AC3875-BF2D-479F-823D-CC444383A429</string>
				<key>WFMatchTextPattern</key>
				<string>^.</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Selected Item</string>
								<key>OutputUUID</key>
								<string>38C7434F-4EC9-41D2-826D-87DFB5E0ADEE</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.filter.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EED787F9-E1C7-4790-8117-0BC2C7829802</string>
				<key>WFContentItemFilter</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFActionParameterFilterPrefix</key>
						<integer>1</integer>
						<key>WFActionParameterFilterTemplates</key>
						<array>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>List</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Enumeration</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>OutputName</key>
												<string>Selected Item</string>
												<key>OutputUUID</key>
												<string>38C7434F-4EC9-41D2-826D-87DFB5E0ADEE</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFStringSubstitutableState</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>8</integer>
								<key>Property</key>
								<string>Title</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>String</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>OutputName</key>
													<string>Matches</string>
													<key>OutputUUID</key>
													<string>C1AC3875-BF2D-479F-823D-CC444383A429</string>
													<key>Type</key>
													<string>ActionOutput</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Operator</key>
								<integer>4</integer>
								<key>Property</key>
								<string>Is Completed</string>
								<key>Removable</key>
								<true/>
								<key>Values</key>
								<dict>
									<key>Bool</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>WFContentPredicateBoundedDate</key>
						<false/>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContentPredicateTableTemplate</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2DBD73E1-2323-4A9D-9157-5B63B8C41571</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which one?</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Reminders</string>
						<key>OutputUUID</key>
						<string>EED787F9-E1C7-4790-8117-0BC2C7829802</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>8709A478-DD32-4215-9657-E467CDF79449</string>
				<key>WFContentItemPropertyName</key>
				<string>Parent Reminder</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Edited Reminder</string>
						<key>OutputUUID</key>
						<string>BDC7AF8B-BDB6-4857-A12C-AE0DA29AFFFC</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemParentReminder</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Selected Item</string>
						<key>OutputUUID</key>
						<string>2DBD73E1-2323-4A9D-9157-5B63B8C41571</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>48CAC654-0CDB-43FA-A95A-360F04D4C1F8</string>
				<key>UUID</key>
				<string>E49E06BB-5852-4C6A-84BD-ED743C54076F</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>63244052-3D38-4B59-BAAB-A6E4D0788731</string>
				<key>UUID</key>
				<string>AD90209D-001E-432C-8DDD-6B9881113685</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>🗃️ Export to Second Brain</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>3AF817A2-FA6E-4268-B263-EC73EBF0AAE1</string>
				<key>WFContentItemPropertyName</key>
				<string>Title</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{2, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>$ ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>📝 Log to Journal</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>C1F2CD55-052D-4271-A3B3-6CC2AF4463A7</string>
				<key>WFContentItemPropertyName</key>
				<string>Is Flagged</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemIsFlagged</key>
				<integer>1</integer>
				<key>WFReminderContentItemTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>leadingSymbol</string>
								<key>OutputUUID</key>
								<string>DEB622D9-F84F-4E64-98C9-32308C36A3FA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼ ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>📋 Copy to Clipboard</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>70CB90E1-F4B3-418C-A507-74450DA9DEAA</string>
				<key>WFContentItemPropertyName</key>
				<string>Is Completed</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemIsCompleted</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2A20E574-C075-46A5-A9FB-0E868EB78A52</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B854B076-F80E-4BFE-B204-13AB18133D2B</string>
					<key>workflowName</key>
					<string>_Reminder2Markdown</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Reminder2Markdown</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0B16BDE2-6FA4-4E03-9976-DD0EBD7B6C6E</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>2A20E574-C075-46A5-A9FB-0E868EB78A52</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>4F01DBEE-6F75-4D25-A918-41F41C3A2A72</string>
					<key>workflowName</key>
					<string>Notify "Copied to Clipboard!"</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Notify "Copied to Clipboard!"</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>📣 Share with Others</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>0C2BAC9A-1E60-4797-8A20-8623AB562A0B</string>
				<key>WFContentItemPropertyName</key>
				<string>Is Completed</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemIsCompleted</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>942F2949-716C-4F38-AC01-F6E6F8FA09E5</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>B854B076-F80E-4BFE-B204-13AB18133D2B</string>
					<key>workflowName</key>
					<string>_Reminder2Markdown</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Reminder2Markdown</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.EditTextIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2E3346F3-12E9-462F-9803-ED4AB9C114E1</string>
				<key>openURL</key>
				<false/>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>942F2949-716C-4F38-AC01-F6E6F8FA09E5</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>textType</key>
				<string>editText</string>
				<key>title</key>
				<string>👀</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.waittoreturn</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.share</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>90CFC1E9-BF99-4599-93CC-36FB6EADFCEB</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Clipboard</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>✅ Mark as Completed</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setters.reminders</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Mode</key>
				<string>Set</string>
				<key>UUID</key>
				<string>E7340DDC-602E-4C03-9B96-37B59DDF3E6E</string>
				<key>WFContentItemPropertyName</key>
				<string>Is Completed</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFReminderContentItemIsCompleted</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>⏩ Skip</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4B123DEB-E04C-4B3F-A3F5-D6E721029FFD</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>41147F9F-F967-405A-95EC-4C7403608878</string>
				<key>UUID</key>
				<string>115AA396-F7DC-4530-AB6C-CB28DB4DE118</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.reminders.showlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C7149C4C-13A7-4630-B298-E324DBE48B68</string>
				<key>UUID</key>
				<string>84508016-0632-41DE-ACDC-F01177021EB2</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getdevicedetails</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>8D761807-26F0-4C33-A7FB-58C73560BCCE</string>
				<key>WFDeviceDetail</key>
				<string>Current Volume</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvolume</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVolume</key>
				<real>0.34646457433700562</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.alexhay.ToolboxProForShortcuts.GetAudioIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F5CC433F-F4D2-4B66-88ED-202338BF0903</string>
				<key>systemSounds</key>
				<string>paymentSuccess</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.playsound</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Sound</string>
						<key>OutputUUID</key>
						<string>F5CC433F-F4D2-4B66-88ED-202338BF0903</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvolume</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVolume</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Current Volume</string>
						<key>OutputUUID</key>
						<string>8D761807-26F0-4C33-A7FB-58C73560BCCE</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4046.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
