<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getdevicedetails</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>BEFA8FA1-5783-4FD5-B4AA-BDC993DA7217</string>
				<key>WFDeviceDetail</key>
				<string>Current Volume</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvolume</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVolume</key>
				<real>0.35340500010384451</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E12CFE4C-EA2E-466A-AA15-88A21DB13F0D</string>
				<key>WFTextActionText</key>
				<string>SUQzBAAAAAAKTlRYWFgAAAASAAADbWFqb3JfYnJhbmQAaXNvbQBUWFhYAAAAEwAAA21pbm9yX3Zl
cnNpb24ANTEyAFRYWFgAAAAgAAADY29tcGF0aWJsZV9icmFuZHMAaXNvbWlzbzJtcDQxAFRTU0UA
AAAOAAADTGF2ZjU5LjQuMTAxAFRJVDIAAAASAAADd3d3LnZvaWN5Lm5ldHdvcmtUQUxCAAAAEgAA
A3d3dy52b2ljeS5uZXR3b3JrVFBFMgAAABIAAAN3d3cudm9pY3kubmV0d29ya1RQRTEAAAASAAAD
d3d3LnZvaWN5Lm5ldHdvcmtUQ09QAAAAEgAAA3d3dy52b2ljeS5uZXR3b3JrVERSQwAAAAUAAAMy
MDIyVENPTQAAABIAAAN3d3cudm9pY3kubmV0d29ya1RDT04AAAASAAADd3d3LnZvaWN5Lm5ldHdv
cmsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
//tQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASW5mbwAAAA8AAAAoAABCHgAJCQ8P
FhYWHBwiIiIpKS8vLzU1PDw8QkJISEhOTlVVVVtbYWFhaGhubm50dHt7e4GBh4eHjo6UlJSamqGh
oaenra2ttLS6urrAwMfHx83N09PT2trg4ODm5u3t7fPz+fn5//8AAAAATGF2YzU5LjQuAAAAAAAA
AAAAAAAAJAV8AAAAAAAAQh7LCcR5AAAAAAAAAAAAAAAAAAAAAP/7kEQAD/AAAGkAAAAITmHHMGHp
AkAAAaQAAAAhBQpbgcYYqQGBjY4ydnWh4JgmKxQKBQgQIECBAjRo0aNGjRtsAAAAAAeHh4eGAAAA
AAeHh4eGAAAAAAeHh4eGAAAAAAeHh4ekAAAAEB4eHh63//v//0ciFZigJgoAlxVBVSgFAiDUQhKE
oShKEoyMjI5MTExAJEiRIkiRIkSJEiRKZNRkFBQoKCgoJBQUFBQoKCgoqCgoKkxBTUUzLjEwMKqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqgZ1uf6////9f+v////X////rBnW5/r////1/6////9f///+ukxBTUUzLjEwMKqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqv/7
kkRSj/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoGdbn+v////X/r////1////6wZ1uf6////9f+v////X///
/rpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqr/+5JEUo/wAABpAAAACBHAJQBcAAAAAAGkAAAAIEcAlAFwAACqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqBnW5/r////1/6////9f/
//+sGdbn+v////X/r////1////66TEFNRTMuMTAwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//uSRFKP8AAAaQAAAAgRwCUAXAAA
AAABpAAAACBHAJQBcAAAqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqgZ1uf6////9f+v////X////rBnW5/r////1/6////9f///+ukxBTUUzLjEwMKqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqv/7
kkRSj/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoGdbn+v////X/r////1////6wZ1uf6////9f+v////X///
/rpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqr/+5JEUo/wAABpAAAACBHAJQBcAAAAAAGkAAAAIEcAlAFwAACqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqBnW5/r////1/6////9f/
//+sGdbn+v////X/r////1////66TEFNRTMuMTAwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//uSRFKP8AAAaQAAAAgRwCUAXAAA
AAABpAAAACBHAJQBcAAAqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqgZ1uf6////9f+v////X////rBnW5/r////1/6////9f///+ukxBTUUzLjEwMKqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqv/7
kkRSj/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqo+nYFNMDPAR3xO
/zaEBDKeOrJHkTX////r/1////6////9Z8QA+0YGgAYHKpDJDqBFF7mC53QZ1//////X////r///
/11MQU1FMy4xMDBVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVU/jIkPMDOARnwO3jYABAKSIr5X8fX////r
/1////6////9ZPfYWVJYJjv/+5JEYw/wAABpAAAACCJgxQB/DwIAAAGkAAAAIIkClEH94ACXAAwr
TCAWE4JhWhD1kvjJxDHCG/j5hv4+GBDGSVDFBqG/f3xR/fDymX8fCvV8fDAnEMVEM0FBVjZ9wHlX
kTN74gRMvImb4YEMVlVYrImWNPoezthpqOd481Df7vff9P6XgKxkgnOTsy14esl745DocGNX2V7P
vFKfwGfbx5VPlvOuEW8ubPInDkOhkYycHRMxq9n3AeP38fcBgVkTLxWKyIxlvHrMtSCbjjck4dDJ
DZ7K9nw8pDY2fCvZ0gBmfxcEsmOKE5xkBgkgYasFUGClAcJgmoGCYEmBAmAKgJgGAcDAAgBwFACo
OAE2ng/J////7f9v//0/7f9H+j/aKQ8Z7aHsIA//DJ0IK/6SkXyr/ImQMTwBhALciai4BhYDA3GB
g0R+w4CKGgGGweBlUqgZPIoGJwj8T4MuWymRcDXASAyKQQteAUUoGRRb+mVMcDCtgMOB0DFoaAzQ
MgMpC0DNYN/zcvm5mZEQAysOgMMAUDIJJAxSAQWCIRDQBxI///uSRNQP8AAAaQAAAAgiYMUAfw8C
GLGichTHgAj8A1PCvgAA44HNCcMCcHMIoQQCzJAGM4GHAUGCQHAoHBgDBQOAkCQBhP/8k06iYJwv
pE4JQKoIgQCEAgMAcLIAvgHAgiFAWVitQGBIFoP//J9kEDdRoLgLTk4YE4bEUIsIREIHxhaOGKws
GHrgkAQxmFkYcoFjYbGJT////80f////FwANAcyY/f0OwMLVBbzNAUCgwdERVMEEBiTAGgVQwFoC
aMA5ADTBiwJwqgHhgdoEGYAUAL4YK05J43/////6n////V///VLuzMpEgkYAQAQCAwEBCakvEyWY
SKFx5q7rnAQgnHkkwYYFSQc2XZalbbiAoKKvCwFrUPrXORCqeKPSmLuptCtdC20c1gNJEvBqVVvU
0h1+06JS7KlLTGsuLctd+UxdgkdftFBdjLGurFiLlvxU5uM1bKBhiAW8hDJ5tr6trtRGgqR+BK1W
z3W9JEMQkFmX/PyicdptXblcAW8LdDymu1cK3921xrDqJhtffudhuLylnc9NW9brY2b8pqY8/f/7
kmT/gAgOhD4GYqAAQKEk8M+AABwldVv5nAAQdYIUpw4gAGv/X/7btMm59rljC6/9HnK59+LFSHa9
iehyvLblyrZlmFRFYeAwQAAAAAAggwt4Cgi3//+r+Lf//5Eh/19X/0xSK9ZK02AAAAAAIXaXnm7d
WVugmjg46onaWKCJhgEnlws7YaDJ4vFFVhzYVljtOKriWqavS1luQqI6wQWhqC4nhQOMkTdooNTx
XSyzCUxJqG5l05BHacu8+WNqVPtImuS2VwJebI7tBYuQfeXc6L8SJYNrEflsUg6TNxh20/kZqtu2
Pb4yiVPy4EZgmQyq/YvQVU5nbejc3D8XhuWyytDEUpp+hpfzv7+5jvk/Vh+rK7lH7xwO9jLJK+cu
jECu5nl+u///+v/n//59//z/+b7/9tWaaksRypK+YTnc6eIdlVTNDIzMyFlMlpMlgQmiECQXtCFh
Q8zJgcAPRBQFMYbLCyRjIAaSAU5GHNBV+wxxXsSCqyBY7/PGutJNQKAYHU0YclY4j9QA/79ZQa/O
DbsAZJMMzjMsiUtnInJYdpr/+5JkngAG2mZM3mMAAAAADSDAAAAclY9j+ZwAGAAANIMAAABhm7sR
Fl6KC7FjMNv2dUGEFZYUu5Muwv4lYgkQUYItJ2Za9GO3+x3MxWrYtNvSYQBAmbX5irjZ5QX6X+Rr
LL+/vnzJcAt4ucMwlW0NlDcU64BjWcqpso1Tf+P//7rZdy//9+LkoilqPv2/D6RSKQ3MU2GW8at/
9VbP1L2P/vf8//wtZAqJZUY0UBMyQzRe9te+papiSDOxEzl4gAmXrmXLAVapoOlQdJMOPGgoWCBA
UtSYgAAjE7RJliel2ERCAE3DJeLotpzElD/LpFF1QgdxbiMIS+LuXklTwx0LNuIuHOIxzKYt2Fwj
hvJQtjM1jcAJUaUB/lEzmEtvYcNncE+P1ELLWfaLL6xREsQJsUmlcxRqOjpiPNs7RzAi6j304RcL
qqurqsmsIoz2A3i4pAtF3dh3xNWBRLYM1zfISpVvc2LvnOtIE8+kkvq0tqmxdPl5MdzYP/6NcVv1
G7On5m3/2hXxnOfJ4VYAAGhVQAAAADkqHv5NxNJA9I0R0+Zi//uSZH0ABxlj0XZp4AIAAA0gwAAA
G0GZJzmcAAAAADSDAAAAHXQNEwOlUpWND0NFxzgNvV8t0mgAgceCMy3NTKVXmwqYyRwZZAj6sEft
RlTpZT6MSgSKMSV3p9I9NPPHHYooEnL1E4LuQPEL9LS7cWMUdNKM20rMCa27T7xXGUT8YjeH91OU
dBXjdbUhn61yLW5uPzE79L3eNrHU63RpkijFJh+5ZG8b89D8q1fpt61NZ50vNby9x+6whufgxiFm
G56pZu3Y3Lbrs0EMc///8pVPYy3GXduc//+WRfmp+V5UlWX7zwxt1XIFYKMJQ5IVAaREYQwCBiS/
g4kYEZqukNXBywcA6mDys5ayCyRMtmjIyV9ACc0tQhDGMNStBVzONCXK0BThOnAE/RgobQ5xgUM0
1PXjUSyAQ0F3nZupRBDEnabpD1TGVW6Rgjjv/F33ct45dyDJNPS/WG5VqLwwyhpiYa72nw9lyrjI
5dL7PeXO7VIoA2j+c+5LMM7Lce3rcqmYd3lXq6zx51rkzD9mG4uzh3JynyjqxW6MNjNSvDr+yv/7
kmRdAAcbXdX+YwACAAANIMAAABsBfTi5rAAAAAA0gwAAAJ/u49rZ1MM9Y/FHHp8lLIxYXezu1OuX
A85899WU0NjLCmppTY74ivSboABAAAJj/x735nphg1g7rNKqE/yJh10pEhMGCSBOGILlGSCmNHA5
EYESTuSFKTu/SoiBgGHOS9TN5a3BLujKo1XqRX7FF1TEBP83jWIlDTlLCrpcZ9ndtw1YhUqnncky
m7w2p1XSx3Jd6MQxi3s2/9jdNQF9N14Kq+nLJeU1TmFytD9qnsRONUDkvq50SpN3+UGVWpSW5bfu
TkOWM8cKW3nSS1ue6WDKLL5rkx+VTetZZ59lly4/lSxqk5T4R61KpdewheOqanlu//nMu/+8vx5r
v/YfhgPSikxIm25brG3Gikk243aBGB+j41MBnVgBQEnjxEkWWxF2UV0rXfblE2J12nQdD1A8j1UK
YB6KHAXk2RnbE1KS07zxloy8qKVUNW1yAGCMXWEjqYquXZQ1t29coYosd+6i65fdiMMxG1ZsVuyn
LPtOretdvGtxeKxLPGSUczn/+5JkPgAGi17X7mMABAAADSDAAAAP5PEyvaYAEAAANIOAAARZ3lj+
4DduH461+fp487kujr6y6XTUplNnPnOWcMPxafNQ+/LvwPN1L1LuZq4Zbmfyy1ll//r///9r8Vl/
5Un3Ichx0JBTyCnpsa3zMtuUupVlWnt0oCAAIU55BQAahAEoJL1dgzoQLgHsWdEoNXbB0PS6PHRk
ZF57Dssn3NNu4uSsNmQJLyqOqKNIymRmLKEVyzsUpB2bUyzzh66PIkxVORBLOH0tLj69uKxKJwlX
dKZZWk4lPb8z1arbW2v1Ob7Nas984cuhpREtI2SoifJQaeeuaRoDAADR9OUDczgZjDICN5cDtAUg
8ZicaD38V5Sy5+KeBokzuLRK06D+1bswFjBHMngdPMrjQ6qAZDuotleY5JRYmbYA1Ug+goiLG1lk
SU1t6eVZLUETVwatC4hZLPZ/p8pXH/1crizL5klphr//QYpyRjGMnHWYY6OgJNxMeyBs4OD/BLdv
WLAxlUYhMUmWBU3iIowgWTLAr+FBHBiAcRliOHEqWUvRKTle//uSZFSL8207x6uZSPAAAA0gAAAB
DYCjDA5l5YgAADSAAAAEnaLmTwdRcmhIlzQBBH5+XhJ5D190b59taggxDpRbeiX9l07wh8jlCYWB
GrhNYfZtNTF9Jju0TzK5nwUPJix5hmIZFPoJIo17jDY8iMmFlDADQRNuAh2bjBwMjFhS8oUXSLBA
UAPZA8UXcrejmiss1EpzS+SpXaQjhhqbE2ARtOfKbi8+rDDCvpbYuRmy/byP7Sw7JMaP+Z/9BCod
jNKYPNp51dCGRAJfgbAcFMZhJ8RHKFB3SzxTo8BzOAa8eNHXxtCnYg8ctgSoJ0GDXKkMXdQGtjHF
BA1UmeT4MOXeTUSxiBCVuih6Vi5YPUWmGtI3Iqqgb+lZdGF/xZR9/W8jTtzjV3YnsJ1YCUxBTUUz
LjEwMFVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVMxpROPA6MjUF
MlhZNHajUUYyU2AhmQmpgQmdArAaNNfbObqOCUPTSRZB98FzBGrGeRyAhDnC2UxyU3CI1FU00P/7
kmSmj/NpJsGDusiQAAANIAAAAQ1UiQIOZwMAAAA0gAAABEFUjEgiKIZxUbMECVA2nMjCNAbHoIWC
rRBA4xCc0JAwA0qiTKL01i+tAHIAEBEI4DJo0IjYiCJkLvk+wKNBxecBI9IMOOlklQNcikTi/1Yf
rWIGcxxnhzCmpR4mPAkgY+mjFeYMZRkMUq1iQ6AIZM1n00+1jJI1NIlAzeeQoRzD4tNOxIzSATM4
tMBMQxdHzVAzMMD0wERTOJQ9EYzeMiTcHDXtgSBNUsBEQQfjdwwrFOenCA59zy+zXLwsHMyxNbIH
iRqwIiAIZEhkxigSHPCYYma5QX6DpRiRKH5VRGUGmQMsCBVYRhzOAzDDAKZFQBvilBemzMIFxPJk
lCpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoA
AUAAiWTNC4BMZEaGKCI44mRKxmIqYIWmJBLMCG1OESzJnEyYXNSbN/CLoAy2Za4cWKZCYGUzBGTn
oSbECeGGmIKBozzHMk0zyRf/+5Jk3w70jia8A7vQsAAADSAAAAEVTJzoLvND0AAANIAAAASE5k0a
iQILLnfE0E/hYDnl6sVEqWTGQuPMlDCarmq6QljgAMPSrBh5RUxkDHNdaqFWEikOK4UCjTAXMXli
lVsQiqX/n3/+uLgA0WEEwkClFkwQC4zBa41dBMy6BozFLQxIGw4KVk4gKjP2/PDH4zk1DerCMASg
y00zHRLMVII4KSTDTBMVx0wTJzRQrOMtg2CDTDCjMhisx6MDR6TDJYY0FJmsNgKQGUTQYTCRig8i
toG9TOBz1kzDgGnmRYHBpnrSGUMGtHD1kFkiNgFiRlCRiE5nbZgFhm0JvORs1CrDoUCbG3Uz5hsy
45CzpuMYYNBs+wA5twiFr/s58+3LTEFNRTMuMTAwVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVUAIADt7RshckzIBDBgfFkuY8RRptTGD1iaiGxq00gg4DsL
OXJU5pcNAZSqbmcBZnKSTbprMKJvRjRUZgEHFJSmIAwmoNH4//uSZOSO9JQpPBt6yyYAAA0gAAAB
Fqyk4E7zSZgAADSAAAAEAm75Cslc5ilgVjGTrCNebKIMRwhAanMFBpmkk2bJkZY+dBqBBhyRZrxB
uDpEXBakxwwzyR3gsVASkFBRGQCoV0H9jsOQ9n+s5buGomy2AoVZ81ME+YERNYKgEYEE8cVh8c+l
wZwRWabGubk4Oabw2ZHj0YsMGZqiudanIdg08atlOZvIgbsG6YcD8YGHgdbYuZlM4YcgmYFDUelp
IbXpUaPVyZaCAapxIbWH6YqGyaTHOYGgCZBo0csuMaBMSGeUZYsGXgZl0qcUEHCtB0dgZyzGSqZj
LYc6OHLMpkUWEVgFajhWs/hVN1cDWGML8QQq9jSaSFSVLiSynsWhSkxBTUUzLjEwMKqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqNoICQqgBkABAGBXMXYOkw9DO
DFJAIICMzyRpQwRjLcmjGIJjtDMjlLgjE7NDVghz5SHDJNaDPYUDNclCqLRkKTxhEHJghKZ3cf/7
kmTiDfTJJ7gTm9MmAAANIAAAARUohswu7xZYAAA0gAAABJJw19xxHKBrYyJhqtBuS2Bv+ggMDIcA
EyASsSekxbCQ3BoIFsGW4numUIRTUJC6xvoNUj4FUBSYGpMEIQBkoRedZ7TbNbp8jgqIYEYAQGAU
AKZgYAGQYQKITGkKrVxkc4KCYHeHAmD2AChgSwCgYBeEwmDQk7hh7ZGsZ0SNamJpBIJkPQaiaHkj
mmG0BOxgDAI0YY2HyGBEAWpgHoFoYMaDQGCoBU5h1QpIaHKU4GTjCsJgg4akYMoFjGE/gMRgRgOe
YL4BPmBrghQXATTAlAcgwUAtuNPYOATl5azTUXAgRDEsQg4SAuAwsCr/gq2Q///6////9f///+sI
02pMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqPsmAdTAwgHQzOQDU8mMbVVOGElNO4GNNRJASAmEIcGXDEmjy
fHh+wG2b/n4nTm6zJHj9jGf/+5Jk44/0dx2xA93J8AAADSAAAAEWhGCkD/U2AAkAQAFQAAQaDmE6
emqASmYZVGIoPCMOQCfxq+Dhu9EphJDBrkG5j+FxhSMBiaAhgMD4QJJgGIZkMTRxXKRjTKRxuTBl
4QKxzDoJWdBgAqbWI92Xf/X/r////1////6yAAAfIpegG9UGfAoLobYz1BuEJrGogmAZBgQhgzAU
Hb14VYzT2810Xl1YP/1n3fp/1p/zn9QZ/pI/y5Ff8Ms/Uc/rSfMcFKmDBAThzCJzLhyCxnEQ1CPM
7m33kev////X/r////1////6z4T5Ck1cwmqNXIks1eGUDVIKaMuQ0A+sZjBZWNGoUQjsxyXzKIHy
rH/1///X/wz/V/rf/kf8j/V/yP9dTEFNRTMuMTAwVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV//uSZNmPdGQYKQP86ABDINMlf9sE
BNQYpA/rAEDtg0+B/3AIVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVP22/gTDl
QBUxrwOtMEYBijpYWQQmACVAx5EwAI4d4B8QRaR86/+7//5P/O///J/5P//5D/DYM63P9f///+v/
X////r////1nEX8nRzB5kmbj4gcmE9ghJj+glGYcWFiG2ARnRa/GJAqChKGCwimH4XMF/8BFf/+G
L//6///Cmf//qZ/////9Qp7+Vf//5YGdbn+v////X/r////1////60xBTUUzLjEwMFVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVf/7
kkSQj/GtCaSD/ZiQEcAlAFwAAAjc/HoP9ETARwCUAXAAAFVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
VVVVVVVVVVVVVVVVVVVVVVVVVVVVBggzrc/1////6/9f///+v////WDOtz/X////r/1////6////
9apMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqr/+5JEU4/wDQCAAeAACBHAJQBcAAAAAAGkAAAAIEcAlAFwAACqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqBnW5/r////1/6////9f/
//+sGdbn+v////X/r////1////66TEFNRTMuMTAwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//uSRFKP8AAAaQAAAAgRwCUAXAAA
AAABpAAAACBHAJQBcAAAqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqBnW5/r////1/6////9f///+sGdbn+v////X/r////1////66TEFNRTMuMTAwqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqv/7
kERTD/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqgZ1uf6////9f+v////X////rBnW5/r////1/6////9f///+
ukxBTUUzLjEwMKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqv/7kkRSj/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoGdbn+v////X/r////1///
/6wZ1uf6////9f+v////X////rpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqr/+5JEUo/wAABpAAAACBHAJQBcAAAA
AAGkAAAAIEcAlAFwAACqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqBnW5/r////1/6////9f///+sGdbn+v////X/r////1////66TEFNRTMuMTAwqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//uS
RFKP8AAAaQAAAAgRwCUAXAAAAAABpAAAACBHAJQBcAAAqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqgZ1uf6////9f+v////X////rBnW5/r////1/6////9f///+
ukxBTUUzLjEwMKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqv/7kkRSj/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoGdbn+v////X/r////1///
/6wZ1uf6////9f+v////X////rpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqr/+5JEUo/wAABpAAAACBHAJQBcAAAA
AAGkAAAAIEcAlAFwAACqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqBnW5/r////1/6////9f///+sGdbn+v////X/r////1////66TEFNRTMuMTAwqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//uS
RFKP8AAAaQAAAAgRwCUAXAAAAAABpAAAACBHAJQBcAAAqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqgZ1uf6////9f+v////X////rBnW5/r////1/6////9f///+
ukxBTUUzLjEwMKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqv/7kkRSj/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoGdbn+v////X/r////1///
/6wZ1uf6////9f+v////X////rpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqr/+5JEUo/wAABpAAAACBHAJQBcAAAA
AAGkAAAAIEcAlAFwAACqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqBnW5/r////1/6////9f///+sGdbn+v////X/r////1////66TEFNRTMuMTAwqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq//uS
RFKP8AAAaQAAAAgRwCUAXAAAAAABpAAAACBHAJQBcAAAqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqgZ1uf6////9f+v////X////rBnW5/r////1/6////9f///+
ukxBTUUzLjEwMKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqv/7kkRSj/AAAGkAAAAIEcAlAFwAAAAAAaQAAAAgRwCUAXAAAKqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqoGdbn+v////X/r////1///
/6wZ1uf6////9f+v////X////rpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqr/+5JEUo/wAABpAAAACBHAJQBcAAAA
AAGkAAAAIEcAlAFwAACqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqPp2BTTAzwEd8Tv82hAQynjqyR5E1////6/9f///+
v////WfEAPtGBoAGByqQyQ6gRRe5gud0Gdf/////1////6////9dAYDKznA1CVpgLwA1IC3BaBtR
pByg8wOYHwNWSA2TuLaWIiB0ELL4mTpaqRH5+cQvRRuN2s6+5diFp1ANzw7SJ0xigkcdBLKhfKRV
Jw2Fg7iQV0JKdHpuWzw7YhaWqlChexDaton703++m5bvpekNnYn3L0haWxq3F7DcDJ8iND9Y//uS
RGMP8AAAaQAAAAgiYMUAfw8CAAABpAAAACCJApRB/eAA3AyuPVas8XsQtLXkTj9Nyv9e9N/v7Znv
6+bbon1i9iFpaqVni9huBKfIBofnDcDK49Vm54vYhaWqlChflU6MAAbO84zH1AzAXElIJwbxmAwj
OOgLvIapZIiIppeKLrKYatVT69F3sAZ+3ZyRcGYGAPhINYqEkfhYOgNxwIY9CSPxEHcljwJ5WMTY
0J5ILhTKxibGhPMCuXTo9NjQ/ME6EdHqNQfnCdMtPUag/OE6ZaqRqF5wnTLXlChecIbS15EvXsIb
S16J9YxCmWqlB+cJ0qZaqUH5wnQly1UoPzhOhLT1UaGZwX0xyqQTwzOE6Y5PlB4ZnCdMcqkR+Zkg
vlYxLRoWyQVC+VjEtGhbMCuXSsYmxoTyQVykVjE2NCeSCuUjk9NnH2G4KtpMQU1FMy4xMDCqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqv/7kkT/j4AAAGkAAAAIv80lVn3sKkAAAaQAAAAjo7Xaibwweaqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqoATTgleWcQHp8KvV6uplL0hQLhQNjgNAFAYHiMUE5g0ShYFQ+Q
E5g0yiIRo4jYeyiVWKgwAcSyyyOJZY5eTLHJlsscmUNHRyNWCg0cjJlDAhywSViLFaaFitv9ulW/
aVSVNKoNWBqoiUNVUlWJRVVSoqv/dUzf1TJSl/WKgKpY3TMBMMCc8OInFXFxs0aJAcNAyKB40BQq
JDT1iiPf/8X4szi////+KdbeKIpMQU1FMy4xMDCqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqr/+5Jklg/z4TIxCwkaci5hJrI9JgIA
AAGkAAAAIAAANIAAAASqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqVEFH
d3d3LnZvaWN5Lm5ldHdvcmsAAAAAAAAAAAAAAAAAd3d3LnZvaWN5Lm5ldHdvcmsAAAAAAAAAAAAA
AAAAd3d3LnZvaWN5Lm5ldHdvcmsAAAAAAAAAAAAAAAAAMjAyMgAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAP8=</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.base64encode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B8786929-9B56-4F53-863D-FF1718B29823</string>
				<key>WFEncodeMode</key>
				<string>Decode</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>E12CFE4C-EA2E-466A-AA15-88A21DB13F0D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.playsound</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Base64 Encoded</string>
						<key>OutputUUID</key>
						<string>B8786929-9B56-4F53-863D-FF1718B29823</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvolume</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVolume</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Current Volume</string>
						<key>OutputUUID</key>
						<string>BEFA8FA1-5783-4FD5-B4AA-BDC993DA7217</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4046.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
