<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getipaddress</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4118418B-A250-4402-884A-4E31312F42E7</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B9EBE680-9248-4574-A249-5286A989A160</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Current IP Address</string>
							<key>OutputUUID</key>
							<string>4118418B-A250-4402-884A-4E31312F42E7</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>• API Documentation: https://epic.gsfc.nasa.gov/about/api
• Earth Polychromatic Imaging Camera (EPIC): https://epic.gsfc.nasa.gov</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>collection</string>
				<key>UUID</key>
				<string>FD7CF982-D3C6-4C5E-9D39-40F43AD81106</string>
				<key>WFTextActionText</key>
				<string>enhanced</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>ShowHeaders</key>
				<true/>
				<key>UUID</key>
				<string>2E66D63A-DE62-413B-B018-74C12FA35B2A</string>
				<key>WFURL</key>
				<string>https://epic.gsfc.nasa.gov/api/enhanced</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>BD879F1D-EEF4-43B7-BD06-8DADA7E0DCC1</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Contents of URL</string>
						<key>OutputUUID</key>
						<string>2E66D63A-DE62-413B-B018-74C12FA35B2A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B6D2D60B-313B-4AAA-8A79-2D1DB77AEEEA</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>CoercionItemClass</key>
								<string>WFDictionaryContentItem</string>
								<key>Type</key>
								<string>WFCoercionVariableAggrandizement</string>
							</dict>
							<dict>
								<key>DictionaryKey</key>
								<string>date</string>
								<key>Type</key>
								<string>WFDictionaryValueVariableAggrandizement</string>
							</dict>
						</array>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Repeat Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B5666FB9-B0AE-468A-A847-95FC3497B857</string>
				<key>WFURLActionURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{35, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>collection</string>
								<key>OutputUUID</key>
								<string>FD7CF982-D3C6-4C5E-9D39-40F43AD81106</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{37, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>yyyy</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Dates</string>
								<key>OutputUUID</key>
								<string>B6D2D60B-313B-4AAA-8A79-2D1DB77AEEEA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{39, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>MM</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Dates</string>
								<key>OutputUUID</key>
								<string>B6D2D60B-313B-4AAA-8A79-2D1DB77AEEEA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{41, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>dd</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Dates</string>
								<key>OutputUUID</key>
								<string>B6D2D60B-313B-4AAA-8A79-2D1DB77AEEEA</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{47, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDictionaryContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>DictionaryKey</key>
										<string>image</string>
										<key>Type</key>
										<string>WFDictionaryValueVariableAggrandizement</string>
									</dict>
								</array>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>https://epic.gsfc.nasa.gov/archive/￼/￼/￼/￼/png/￼.png</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>BD879F1D-EEF4-43B7-BD06-8DADA7E0DCC1</string>
				<key>UUID</key>
				<string>31F7510A-5DF1-4EF1-A9DC-5F2E5542EA67</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.makegif</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3133E725-BBA6-4B32-B7C9-4A4BCC7A03E1</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Repeat Results</string>
						<key>OutputUUID</key>
						<string>31F7510A-5DF1-4EF1-A9DC-5F2E5542EA67</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFMakeGIFActionDelayTime</key>
				<string>0.5</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.notification</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5EF9E6EC-F791-4E88-BDF0-052ACB5F1898</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>GIF</string>
						<key>OutputUUID</key>
						<string>3133E725-BBA6-4B32-B7C9-4A4BCC7A03E1</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFNotificationActionBody</key>
				<string>你很棒，放輕鬆，別太逼自己了。</string>
				<key>WFNotificationActionSound</key>
				<false/>
				<key>WFNotificationActionTitle</key>
				<string>──────────────</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.lockscreen</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B9EBE680-9248-4574-A249-5286A989A160</string>
				<key>UUID</key>
				<string>B75B72DA-594C-4F80-94B5-D4CA84E85845</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4046.0.2.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>NCWidget</string>
	</array>
</dict>
</plist>
