<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Flow Counts</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>data.json</string>
				<key>UUID</key>
				<string>C290942C-C83A-44A2-B618-158D2C061A56</string>
				<key>WFFile</key>
				<dict>
					<key>displayName</key>
					<string>Number of Flows</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>crossDeviceItemID</key>
						<string>docs.icloud.com:com.apple.CloudDocs/1EE7EC05-2810-4B2C-AA80-A4411780282C/eba63ca2c06a84d0b1a8d8dc793cb48e1618a6b8</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/8490D092-B665-44CE-B773-583DD8574185</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/Deep-Work-Machine/Number of Flows</string>
					</dict>
					<key>filename</key>
					<string>Number of Flows</string>
				</dict>
				<key>WFFileErrorIfNotFound</key>
				<false/>
				<key>WFGetFilePath</key>
				<string>data.json</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>data</string>
				<key>UUID</key>
				<string>080108C6-B9E0-4AF3-8A01-E7CF54D77017</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDateContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>data.json</string>
						<key>OutputUUID</key>
						<string>C290942C-C83A-44A2-B618-158D2C061A56</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>data</string>
						<key>OutputUUID</key>
						<string>080108C6-B9E0-4AF3-8A01-E7CF54D77017</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>7DD9596C-CB13-4B74-8D2F-2C15C307DCD8</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C1ACE9B3-7798-4BA8-8848-5DB033E490A2</string>
				<key>WFDictionaryKey</key>
				<string>numberOfFlows</string>
				<key>WFDictionaryValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Count</string>
								<key>OutputUUID</key>
								<string>7DD9596C-CB13-4B74-8D2F-2C15C307DCD8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Word Counts</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>The word counts data is based on the `.obsidian/vault-stats.json` file generated by the [Better Word Count](https://github.com/lukeleppan/better-word-count) plugin in Obsidian.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>859920D2-A424-48F9-8046-AFA9F7573FCF</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFEnumeration</key>
				<string>macOS</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>OS</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>DeviceDetails</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.documentpicker.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C695D20A-27D1-497A-8CDF-1E164F937735</string>
				<key>WFFile</key>
				<dict>
					<key>displayName</key>
					<string>.obsidian</string>
					<key>fileLocation</key>
					<dict>
						<key>WFFileLocationType</key>
						<string>iCloud</string>
						<key>appContainerBundleIdentifier</key>
						<string>md.obsidian</string>
						<key>fileProviderDomainID</key>
						<string>com.apple.CloudDocs.iCloudDriveFileProvider/FCB1C390-2B1D-417F-97E7-684FBE5F6063</string>
						<key>relativeSubpath</key>
						<string>iCloud~md~obsidian/Documents/Second-Brain/.obsidian</string>
					</dict>
					<key>filename</key>
					<string>.obsidian</string>
				</dict>
				<key>WFGetFilePath</key>
				<string>vault-stats.json</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>859920D2-A424-48F9-8046-AFA9F7573FCF</string>
				<key>UUID</key>
				<string>F6ACABF3-BA51-4345-A4C8-245D9692EB9D</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F1167CA2-58C0-4E51-81AC-7889DCFD84CC</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFEnumeration</key>
				<string>iOS</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>OS</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>DeviceDetails</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>AsheKube.app.a-Shell.ExecuteCommandIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>ShowWhenRun</key>
				<false/>
				<key>UUID</key>
				<string>DA0EA3A0-0DDB-4C12-8F58-4983B4205EFB</string>
				<key>command</key>
				<array>
					<string>jump obsidian-icloud</string>
					<string>cd Second-Brain</string>
					<string>cat .obsidian/vault-stats.json</string>
				</array>
				<key>openWindow</key>
				<string>close</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>F1167CA2-58C0-4E51-81AC-7889DCFD84CC</string>
				<key>UUID</key>
				<string>7E31BDE9-9360-481F-99FD-A9AA6A1F7D91</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2EC8953C-05DC-48BC-A6EA-E449AFCF6C7C</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{8, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDateContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>history.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>If Result</string>
						<key>OutputUUID</key>
						<string>7E31BDE9-9360-481F-99FD-A9AA6A1F7D91</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C4D20FB0-E68D-4278-9068-8225852F3067</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Dictionary Value</string>
							<key>OutputUUID</key>
							<string>2EC8953C-05DC-48BC-A6EA-E449AFCF6C7C</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5CCA2652-2CB6-49A2-85CE-CB19EB7793A8</string>
				<key>WFDictionaryKey</key>
				<string>words</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary Value</string>
						<key>OutputUUID</key>
						<string>2EC8953C-05DC-48BC-A6EA-E449AFCF6C7C</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C4D20FB0-E68D-4278-9068-8225852F3067</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0AF55298-6995-4718-AC1E-66F00B9FC2F9</string>
				<key>WFNumberActionNumber</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>C4D20FB0-E68D-4278-9068-8225852F3067</string>
				<key>UUID</key>
				<string>83868AEB-09F5-4ED8-80FC-24CFB5B72D77</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>CFCDBA82-F0DE-47BD-8EA2-E84B1F14A8A6</string>
				<key>WFDictionary</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>C1ACE9B3-7798-4BA8-8848-5DB033E490A2</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFDictionaryKey</key>
				<string>numberOfWords</string>
				<key>WFDictionaryValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>If Result</string>
								<key>OutputUUID</key>
								<string>83868AEB-09F5-4ED8-80FC-24CFB5B72D77</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>7311A498-A4C8-4CAA-9B51-80DD43F055F4</string>
				<key>WFCondition</key>
				<integer>2</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Count</string>
							<key>OutputUUID</key>
							<string>7DD9596C-CB13-4B74-8D2F-2C15C307DCD8</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFNumberValue</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.combine</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EEDE9DFB-C085-4C7B-80DA-4645DC24CB67</string>
				<key>WFTextCustomSeparator</key>
				<string> • </string>
				<key>WFTextSeparator</key>
				<string>Custom</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>data</string>
						<key>OutputUUID</key>
						<string>080108C6-B9E0-4AF3-8A01-E7CF54D77017</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>99CFD78E-5753-44C2-B733-01377A0467EA</string>
				<key>WFDictionary</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>CFCDBA82-F0DE-47BD-8EA2-E84B1F14A8A6</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFDictionaryKey</key>
				<string>data</string>
				<key>WFDictionaryValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Combined Text</string>
								<key>OutputUUID</key>
								<string>EEDE9DFB-C085-4C7B-80DA-4645DC24CB67</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>7311A498-A4C8-4CAA-9B51-80DD43F055F4</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>1FD99F92-5255-4ED7-987A-51DE44C08EB1</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>CFCDBA82-F0DE-47BD-8EA2-E84B1F14A8A6</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>7311A498-A4C8-4CAA-9B51-80DD43F055F4</string>
				<key>UUID</key>
				<string>88204D65-9E3A-4282-8E35-814B23FFF7D9</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>If Result</string>
								<key>OutputUUID</key>
								<string>88204D65-9E3A-4282-8E35-814B23FFF7D9</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3303.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFDateContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFDateContentItem</string>
			<key>SerializedParameters</key>
			<dict>
				<key>WFDateActionDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Ask</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateActionMode</key>
				<string>Specified Date</string>
			</dict>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFDictionaryContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
