<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Date</string>
				<key>UUID</key>
				<string>6C1C39E5-7D32-47DE-918A-0BB8297B9522</string>
				<key>WFTextActionText</key>
				<string>Date</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Accumulated</string>
				<key>UUID</key>
				<string>B182EFC9-C74D-4926-B4D3-A218A936E05E</string>
				<key>WFTextActionText</key>
				<string>Accumulated</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>127B9B29-29AE-4C9A-9F84-FCCC9D88073B</string>
				<key>WFItems</key>
				<array>
					<string>Flows</string>
					<string>Words</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>36F1A14C-1DB6-421E-9117-C724506A8717</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>List</string>
						<key>OutputUUID</key>
						<string>127B9B29-29AE-4C9A-9F84-FCCC9D88073B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.adjustdate</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>startOfThisMonth</string>
				<key>UUID</key>
				<string>3669FBF2-7E48-4391-88F4-0A426609C105</string>
				<key>WFAdjustOperation</key>
				<string>Get Start of Month</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.adjustdate</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>startOfNextMonth</string>
				<key>UUID</key>
				<string>2A435DA7-AD74-43D9-A982-D2955644E958</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>startOfThisMonth</string>
								<key>OutputUUID</key>
								<string>3669FBF2-7E48-4391-88F4-0A426609C105</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDuration</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Magnitude</key>
						<string>1</string>
						<key>Unit</key>
						<string>months</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFQuantityFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettimebetweendates</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4FF3EE61-04AB-4C9E-BD63-B41A22338EA9</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>startOfNextMonth</string>
								<key>OutputUUID</key>
								<string>2A435DA7-AD74-43D9-A982-D2955644E958</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFTimeUntilFromDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>startOfThisMonth</string>
								<key>OutputUUID</key>
								<string>3669FBF2-7E48-4391-88F4-0A426609C105</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFTimeUntilUnit</key>
				<string>Days</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>74C42FA6-DCA9-46B9-924F-EB2FCDA0C8B9</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFRepeatCount</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Time Between Dates</string>
						<key>OutputUUID</key>
						<string>4FF3EE61-04AB-4C9E-BD63-B41A22338EA9</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.calculateexpression</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Index 2</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼ - 1</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>UUID</key>
				<string>7246A324-1403-4C75-9FC0-75FE6FF271FC</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.adjustdate</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F6003F54-B76A-4AA8-830A-24EA7BADF515</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>startOfThisMonth</string>
								<key>OutputUUID</key>
								<string>3669FBF2-7E48-4391-88F4-0A426609C105</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDuration</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Magnitude</key>
						<dict>
							<key>OutputName</key>
							<string>Calculation Result</string>
							<key>OutputUUID</key>
							<string>7246A324-1403-4C75-9FC0-75FE6FF271FC</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>Unit</key>
						<string>days</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFQuantityFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7D4B2656-A7AD-45A0-8305-1623A503AAFF</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Adjusted Date</string>
						<key>OutputUUID</key>
						<string>F6003F54-B76A-4AA8-830A-24EA7BADF515</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>18147F90-431D-4A64-AB66-918A88186549</string>
					<key>workflowName</key>
					<string>_Get Daily Flow &amp; Word Counts</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Get Daily Flow &amp; Word Counts</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D585E74A-F88C-4E9D-9DB1-7D8161480916</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{10, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Number of ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.Christopher-Hannah.Text-Case.TextCaseIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>ShowWhenRun</key>
				<false/>
				<key>UUID</key>
				<string>B9620422-E113-42A3-B8FB-71B7277EE2D4</string>
				<key>format</key>
				<string>camelCase</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>D585E74A-F88C-4E9D-9DB1-7D8161480916</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>91912C2B-DACC-480F-B290-41B1543F5B02</string>
				<key>WFDictionaryKey</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Formatted Text</string>
								<key>OutputUUID</key>
								<string>B9620422-E113-42A3-B8FB-71B7277EE2D4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>7D4B2656-A7AD-45A0-8305-1623A503AAFF</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary Value</string>
						<key>OutputUUID</key>
						<string>91912C2B-DACC-480F-B290-41B1543F5B02</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>accumulated</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.statistics</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>accumulated</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>53BAAE5B-5B90-4F66-84B5-C984F5EFC40D</string>
				<key>WFStatisticsOperation</key>
				<string>Sum</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>43056A58-16AD-4123-A089-2AA14CD4C6B0</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormatStyle</key>
										<string>ISO 8601</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>OutputName</key>
								<string>Adjusted Date</string>
								<key>OutputUUID</key>
								<string>F6003F54-B76A-4AA8-830A-24EA7BADF515</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Dictionary Value</string>
								<key>OutputUUID</key>
								<string>91912C2B-DACC-480F-B290-41B1543F5B02</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Sum</string>
								<key>OutputUUID</key>
								<string>53BAAE5B-5B90-4F66-84B5-C984F5EFC40D</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼,￼,￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>74C42FA6-DCA9-46B9-924F-EB2FCDA0C8B9</string>
				<key>UUID</key>
				<string>EA285F67-34A2-4CDF-B89C-93BA241D7CF4</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>CSV</string>
				<key>UUID</key>
				<string>897B2AA4-F47F-4AAB-BA67-8219E649A537</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Date</string>
								<key>OutputUUID</key>
								<string>6C1C39E5-7D32-47DE-918A-0BB8297B9522</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>D585E74A-F88C-4E9D-9DB1-7D8161480916</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Accumulated</string>
								<key>OutputUUID</key>
								<string>B182EFC9-C74D-4926-B4D3-A218A936E05E</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{6, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Repeat Results</string>
								<key>OutputUUID</key>
								<string>EA285F67-34A2-4CDF-B89C-93BA241D7CF4</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼,￼,￼
￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>dk.simonbs.DataJar.SetValueIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D9FF9DA9-ADA2-4E0F-93A3-1C5507BACD96</string>
				<key>keyPath</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{18, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Text</string>
								<key>OutputUUID</key>
								<string>D585E74A-F88C-4E9D-9DB1-7D8161480916</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{20, 1}</key>
							<dict>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>CoercionItemClass</key>
										<string>WFDateContentItem</string>
										<key>Type</key>
										<string>WFCoercionVariableAggrandizement</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>WFDateFormatVariableAggrandizement</string>
										<key>WFDateFormat</key>
										<string>yyyy.MMMM</string>
										<key>WFDateFormatStyle</key>
										<string>Custom</string>
										<key>WFISO8601IncludeTime</key>
										<false/>
									</dict>
								</array>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Deep Work Machine.￼.￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>overwriteStrategy</key>
				<string>alwaysAllow</string>
				<key>valueConversionMode</key>
				<string>text</string>
				<key>values</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>CSV</string>
						<key>OutputUUID</key>
						<string>897B2AA4-F47F-4AAB-BA67-8219E649A537</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>accumulated</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>36F1A14C-1DB6-421E-9117-C724506A8717</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3612.0.2.1</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFDateContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorAskForInput</string>
		<key>Parameters</key>
		<dict>
			<key>ItemClass</key>
			<string>WFDateContentItem</string>
			<key>SerializedParameters</key>
			<dict>
				<key>WFDateActionDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Ask</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateActionMode</key>
				<string>Specified Date</string>
			</dict>
		</dict>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
