<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvolume</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVolume</key>
				<real>0.1989898681640625</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2ECAD96A-BBA8-4282-B9FD-6B9EE836B2F2</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>filename</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>config</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>You Deserve It</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>9B961137-1D39-4CC6-8B51-85016C063F8A</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>2ECAD96A-BBA8-4282-B9FD-6B9EE836B2F2</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>AB765028-4AD4-42A4-8A38-A4620DDCEC47</string>
					<key>workflowName</key>
					<string>_Get Value</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>_Get Value</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3EDE4531-9B6E-498F-92E0-82A9E2EC1481</string>
				<key>WFMatchTextPattern</key>
				<string>(?m)[^/]+$</string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>9B961137-1D39-4CC6-8B51-85016C063F8A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4025C7EB-08B1-4A94-B25A-4D51FE855728</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>🤖 Which one?</string>
				<key>WFChooseFromListActionSelectMultiple</key>
				<true/>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Matches</string>
						<key>OutputUUID</key>
						<string>3EDE4531-9B6E-498F-92E0-82A9E2EC1481</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>07A75835-C971-40C4-B42E-8B5D8660E5AA</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Selected Item</string>
						<key>OutputUUID</key>
						<string>4025C7EB-08B1-4A94-B25A-4D51FE855728</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.match</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>915E248E-46EA-421D-B088-80B766A4B7F8</string>
				<key>WFMatchTextPattern</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{2, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
							</dict>
						</dict>
						<key>string</key>
						<string>.*￼.*</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>9B961137-1D39-4CC6-8B51-85016C063F8A</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F09DDCC7-7D9A-4742-BB9F-7068019B38CB</string>
				<key>WFURLActionURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Matches</string>
								<key>OutputUUID</key>
								<string>915E248E-46EA-421D-B088-80B766A4B7F8</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼/</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2E18FC0E-CBC8-4C5C-9B5D-4F7B610045C5</string>
				<key>WFCondition</key>
				<integer>99</integer>
				<key>WFConditionalActionString</key>
				<string>gonewild</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>URL</string>
							<key>OutputUUID</key>
							<string>F09DDCC7-7D9A-4742-BB9F-7068019B38CB</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>26A5DE8F-B256-4C20-AAA7-65916B675F3F</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>URL</string>
								<key>OutputUUID</key>
								<string>F09DDCC7-7D9A-4742-BB9F-7068019B38CB</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼?sort=top&amp;t=year</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2E18FC0E-CBC8-4C5C-9B5D-4F7B610045C5</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>1AAB00E3-15AF-449A-A9E6-C23013333604</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFEnumeration</key>
				<string>iOS</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>OS</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>DeviceDetails</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.useractivity.open</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppBundleIdentifier</key>
				<string>com.brave.ios.browser</string>
				<key>UUID</key>
				<string>E3AFD3E2-A60D-455A-987A-B3A89176DE1F</string>
				<key>UserActivityData</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEBILDC0zOTo7P0JGS1NU
				VVZXW1xVJG51bGzfEBANDg8QERITFBUWFxgZGhscHR4f
				ICEiIyQlJiAoKSAgIV8QFHBlcnNpc3RlbnRJZGVudGlm
				aWVyV29wdGlvbnNXdmVyc2lvbl8QEWVsaWdpYmxlRm9y
				U2VhcmNoXxAZZWxpZ2libGVGb3JQdWJsaWNJbmRleGlu
				Z1xhY3Rpdml0eVR5cGVUd2hlblV0aXRsZVR0eXBlViRj
				bGFzc18QEmVsaWdpYmxlRm9ySGFuZG9mZl8QF2NvbnRl
				bnRBdHRyaWJ1dGVTZXREYXRhWHBheWxvYWRzXxAUZWxp
				Z2libGVGb3JSZW1pbmRlcnNfEBVlbGlnaWJsZUZvclBy
				ZWRpY3Rpb25YaXNBY3RpdmWAEIACEAEJCIAFgAaABBAB
				gBEJgAiACgkJCNMuLxYwMTJXTlMua2V5c1pOUy5vYmpl
				Y3RzoKCAA9I0NTY3WiRjbGFzc25hbWVYJGNsYXNzZXNc
				TlNEaWN0aW9uYXJ5ojY4WE5TT2JqZWN0XxAeT3BlbiBh
				IE5ldyBQcml2YXRlIEJyb3dzZXIgVGFiXxAjY29tLmJy
				YXZlLmlvcy5icm93c2VyLk5ld1ByaXZhdGVUYWLSPBY9
				PldOUy50aW1lI0HH6A5IFU1qgAfSNDVAQVZOU0RhdGWi
				QDjSQxZERVdOUy5kYXRhTxECdGJwbGlzdDAw1AECAwQF
				BgcKWCR2ZXJzaW9uWSRhcmNoaXZlclQkdG9wWCRvYmpl
				Y3RzEgABhqBfEA9OU0tleWVkQXJjaGl2ZXLRCAlUcm9v
				dIABpAsMERJVJG51bGzSDQ4PEFljb250YWluZXJWJGNs
				YXNzgAKAA08RAUPeugABAABDAQAAAgEAAB0AAADwAgEA
				AAAAAgEAAOEAAAADANYAAAAlAAAAX19jbGFzczpDU1Nl
				YXJjaGFibGVJdGVtQXR0cmlidXRlU2V0AJ8AAAADAIQA
				AAABABgAAAD//nAAdQBiAGwAaQBjAC4AaQB0AGUAbQBY
				AAAA//5TAHQAYQByAHQAIABTAGUAYQByAGMAaABpAG4A
				ZwAgAHQAaABlACAAVwBlAGIAIABTAGUAYwB1AHIAZQBs
				AHkAIAB3AGkAdABoACAAQgByAGEAdgBlAAAAAwAqAAAA
				AAAAAOAVAAAAeAAAAPUAAAAAXAAAAPUnAAAA9AAAAADi
				UAAAAPESAGtNREl0ZW1Db250ZW50VHlwZQASAGtNREl0
				ZW1EZXNjcmlwdGlvbgAUAGtNREl0ZW1UaHVtYm5haWxE
				YXRhANITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEBxD
				U1NlYXJjaGFibGVJdGVtQXR0cmlidXRlU2V0ohcYXxAc
				Q1NTZWFyY2hhYmxlSXRlbUF0dHJpYnV0ZVNldFhOU09i
				amVjdAAIABEAGgAkACkAMgA3AEkATABRAFMAWABeAGMA
				bQB0AHYAeAG/AcQBzwHYAfcB+gIZAAAAAAAAAgEAAAAA
				AAAAGQAAAAAAAAAAAAAAAAAAAiKACdI0NUdIXU5TTXV0
				YWJsZURhdGGjSUo4XU5TTXV0YWJsZURhdGFWTlNEYXRh
				0y4vFkxPUqJNToALgAyiUFGADYAOgA9fEBpVQUludGVu
				dHNJZGVudGlmaWVyUGF5bG9hZF8QJFVBSU5TdWdnZXN0
				ZWRJbnZvY2F0aW9uUGhyYXNlUGF5bG9hZE8QsGJwbGlz
				dDAw1AECAwQFBgcKWCR2ZXJzaW9uWSRhcmNoaXZlclQk
				dG9wWCRvYmplY3RzEgABhqBfEA9OU0tleWVkQXJjaGl2
				ZXLRCAlUcm9vdIABogsMVSRudWxsXxAkRTc4NjRENDct
				RDY4RS00RTMyLTkyMEQtQjdDOUEwMTBDM0ZBCBEaJCky
				N0lMUVNWXAAAAAAAAAEBAAAAAAAAAA0AAAAAAAAAAAAA
				AAAAAACDTxAUT3BlbiBOZXcgUHJpdmF0ZSBUYWLSNDVY
				WV8QE05TTXV0YWJsZURpY3Rpb25hcnmjWjY4XxATTlNN
				dXRhYmxlRGljdGlvbmFyeV8QI2NvbS5icmF2ZS5pb3Mu
				YnJvd3Nlci5OZXdQcml2YXRlVGFi0jQ1XV5fEBJVQVVz
				ZXJBY3Rpdml0eUluZm+iXzhfEBJVQVVzZXJBY3Rpdml0
				eUluZm8ACAARABoAJAApADIANwBJAEwAUQBTAGgAbgCR
				AKgAsAC4AMwA6AD1APoBAAEFAQwBIQE7AUQBWwFzAXwB
				fgGAAYIBgwGEAYYBiAGKAYwBjgGPAZEBkwGUAZUBlgGd
				AaUBsAGxAbIBtAG5AcQBzQHaAd0B5gIHAi0CMgI6AkMC
				RQJKAlECVAJZAmEE2QTbBOAE7gTyBQAFBwUOBREFEwUV
				BRgFGgUcBR4FOwViBhUGLAYxBkcGSwZhBocGjAahBqQA
				AAAAAAACAQAAAAAAAABgAAAAAAAAAAAAAAAAAAAGuQ==
				</data>
				<key>UserActivityDescriptor</key>
				<dict>
					<key>BundleIdentifier</key>
					<string>com.brave.ios.browser</string>
					<key>Name</key>
					<string>Brave</string>
					<key>TeamIdentifier</key>
					<string>KL8N8XSYF4</string>
					<key>UserActivityType</key>
					<string>com.brave.ios.browser.NewPrivateTab</string>
				</dict>
				<key>UserActivitySubtitle</key>
				<string>Start Searching the Web Securely with Brave</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>BAEA60BE-4B92-4A17-9F00-717BB539C99F</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>URL</string>
						<key>OutputUUID</key>
						<string>F09DDCC7-7D9A-4742-BB9F-7068019B38CB</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>4F01DBEE-6F75-4D25-A918-41F41C3A2A72</string>
					<key>workflowName</key>
					<string>Notify "Copied to Clipboard!"</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Notify "Copied to Clipboard!"</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>1AAB00E3-15AF-449A-A9E6-C23013333604</string>
				<key>UUID</key>
				<string>EE0D29C9-1216-4A58-A966-5CC4956D51D3</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>99C7229B-55E1-4CD6-BEAB-125E39B1EC4C</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFEnumeration</key>
				<string>macOS</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Aggrandizements</key>
							<array>
								<dict>
									<key>PropertyName</key>
									<string>OS</string>
									<key>Type</key>
									<string>WFPropertyVariableAggrandizement</string>
								</dict>
							</array>
							<key>Type</key>
							<string>DeviceDetails</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runshellscript</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Script</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{45, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>URL</string>
								<key>OutputUUID</key>
								<string>F09DDCC7-7D9A-4742-BB9F-7068019B38CB</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>open -na "Brave Browser" --args --incognito "￼"</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>UUID</key>
				<string>B2BE569C-A9CA-4435-BEA6-8BB6CCE7D1D4</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>99C7229B-55E1-4CD6-BEAB-125E39B1EC4C</string>
				<key>UUID</key>
				<string>0ADFDF92-C896-4ACB-B146-C273B9453C54</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>2E18FC0E-CBC8-4C5C-9B5D-4F7B610045C5</string>
				<key>UUID</key>
				<string>7498A2F8-C71B-4A43-B05E-4EDED05614B1</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>07A75835-C971-40C4-B42E-8B5D8660E5AA</string>
				<key>UUID</key>
				<string>19E7CCCA-80F8-4EB0-A63B-7DD763B740AE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>4407</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
</dict>
</plist>
